### Dictionary (mapping datatype)

- A dictionary is a collection of keys and value pair (key:value) and is kept inside a curly bracket ({})
- Each key:value pair is known as an element or an item of a dictionary
- Keys should not duplicated whereas values can be duplicated
- If the key is duplicated, the value associated with that key will be updated with the last value that has been assigned to it
- Keys should be of immutable datatype (int, float, complex, string, tuple) while values can have any kind of a datatype
- A dictionary is a container datatype that can store multiple elements (keys:values) in it
- A dictionary is not an ordered collection of data which means it will not follow the concept of indexing
- In the dictionary, values are mapped to keys and we can access any value by using the keys
- It is not a sequential datatype
- In a dictionary, length is the only operation that we can apply

__Note:__ We cannot use concatenation, Repetition, Indexing and Slicing concept over a dictionary

In [17]:
d = {1:100, 2:200, 3:300, 4:400}
print(d, type(d))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>

In [19]:
d = {1:100, 2:200, 3:300, 4:200}
print(d, type(d))

{1: 100, 2: 200, 3: 300, 4: 200} <class 'dict'>

In [21]:
d = {1:100, 2:200, 3:300, 2:500}
print(d, type(d))

{1: 100, 2: 500, 3: 300} <class 'dict'>

In [24]:
d = {1:100, 2.0:200, 3+8j:300, '4':200}
print(d, type(d))

{1: 100, 2.0: 200, (3+8j): 300, '4': 200} <class 'dict'>

In [26]:
d = {[1,2,3]:100, 2.0:200, 3+8j:300, '4':200}
print(d, type(d))

TypeError: unhashable type: 'list'

In [28]:
d = {(1,2,3):100, 2.0:200, 3+8j:300, '4':200}
print(d, type(d))

{(1, 2, 3): 100, 2.0: 200, (3+8j): 300, '4': 200} <class 'dict'>

In [30]:
d = {1:100, 2:200, 3:300, 4:200}
print(d, type(d))

{1: 100, 2: 200, 3: 300, 4: 200} <class 'dict'>

In [34]:
d[0]

KeyError: 0

In [36]:
d[3]

300

In [38]:
d

{1: 100, 2: 200, 3: 300, 4: 200}

In [40]:
len(d)

4

In [42]:
d

{1: 100, 2: 200, 3: 300, 4: 200}

In [44]:
d1 = {5:500}

print(d+d1)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [46]:
d

{1: 100, 2: 200, 3: 300, 4: 200}

In [48]:
d*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [50]:
emp = {'Name':['Mayank', 'Rishabh'], 'City':['Bengalurur', 'Noida']}
emp

{'Name': ['Mayank', 'Rishabh'], 'City': ['Bengalurur', 'Noida']}

### How to create a Dictionary

#### Case-1

- When we already know all the elements

In [52]:
d = {1:100, 2:200, 3:300, 4:400}
d

{1: 100, 2: 200, 3: 300, 4: 400}

#### Case-2

- using typecasting, we will use dict()
- only an iterable objects (list, tuple) can be converted to a dictionary
- The iterable object should be pass a dict(), but the iterable object that we are passing should have one more iterable in it
- The inner iterable should have two elements in it, the first element will become the key and the second element will become the values

In [ ]:
# list of a list
# list of a tuple
# tuple of a list
# tuple of a tuple

In [54]:
lst = [i for i in range(1,11)]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
d = dict(lst)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [58]:
lst = [[1,100], [2,200], [3, 300], [4, 400]]
d = dict(lst)
d

{1: 100, 2: 200, 3: 300, 4: 400}

In [60]:
lst = [(1,100), (2,200), (3, 300), (4, 400)]
d = dict(lst)
d

{1: 100, 2: 200, 3: 300, 4: 400}

In [62]:
lst = ([1,100], [2,200], [3, 300], [4, 400])
d = dict(lst)
d

{1: 100, 2: 200, 3: 300, 4: 400}

In [64]:
lst = ((1,100), (2,200), (3, 300), (4, 400))
d = dict(lst)
d

{1: 100, 2: 200, 3: 300, 4: 400}

#### Case-3

- By using the enumerate() function inside a dictionary

__Syntax:__

            dict(enumerate(iterable_object)) ---> iterable objet (String, rannge, list, tuple , set, frozenet)

In [70]:
a = 'Mayank'
e = (enumerate(a))
e

In [66]:
a = 'Mayank'
e = list(enumerate(a))
e

[(0, 'M'), (1, 'a'), (2, 'y'), (3, 'a'), (4, 'n'), (5, 'k')]

#### enumerate() function

- it takes an iterable object as an argument
- It returns an enuemrate object
- To fetch the values from an enumerate object we need to pass them in either a list or a tuple or a dict
- It maps the element of an iterable one by one from 0 to len(iterable)-1

In [68]:
a = 'Mayank'
e = dict(enumerate(a))
e

{0: 'M', 1: 'a', 2: 'y', 3: 'a', 4: 'n', 5: 'k'}

In [72]:
lst = [i for i in range(1,11)]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
e = enumerate(lst)
e

In [76]:
dict(e)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

#### Case-4

##### Using zip() function

- It take two iterable object as an argument
- It maps all the elements of both the iterable one by one in a sequence and return a zip object
- To fetch out the values, we can pass the zip object to a list, tuple or a dictionary

__Note:__ While creating a dictionary using zip() function we should remember that it should have two iterable objects as an argument

In [97]:
a = 'mayank'
b = [10,20,30,40, 50, 60]

z = zip(b,a)
z

                                           M  A  Y  A  N  K
                                           0  1  2  3  4  5
                                          10  20 30 40 50 60

In [99]:
lst = list(z)
lst

[(10, 'm'), (20, 'a'), (30, 'y'), (40, 'a'), (50, 'n'), (60, 'k')]

In [101]:
t = tuple(zip(b,a))
t

((10, 'm'), (20, 'a'), (30, 'y'), (40, 'a'), (50, 'n'), (60, 'k'))

In [107]:
d = dict(zip(b,a))
d

{10: 'm', 20: 'a', 30: 'y', 40: 'a', 50: 'n', 60: 'k'}

In [109]:
a = 'mayank'
b = [10,20,30,40]

z = zip(b,a)
z

                                           M  A  Y  A  N  K
                                           0  1  2  3  4  5
                                          10  20 30 40

In [111]:
d = dict(z)
d

{10: 'm', 20: 'a', 30: 'y', 40: 'a'}

#### Case-5

- By taking input from the user

In [114]:
n = int(input('Enter the number of elements you want the dictionary to have: '))

key = []
value = []

for i in range(n):
    a = eval(input('Enter a key: '))
    key.append(a)

    b = eval(input('Enter a value: '))
    value.append(b)

z = dict(zip(key, value))
z

Enter the number of elements you want the dictionary to have:  4
Enter a key:  1
Enter a value:  100
Enter a key:  2
Enter a value:  200
Enter a key:  3
Enter a value:  300
Enter a key:  4
Enter a value:  400

{1: 100, 2: 200, 3: 300, 4: 400}

In [118]:
n = int(input('Enter the number of elements you want the dictionary to have: '))

country= []
capital = []

for i in range(n):
    a = eval(input('Enter a key: '))
    country.append(a)

    b = eval(input('Enter a value: '))
    capital.append(b)

z = dict(zip(country, capital))
z

Enter the number of elements you want the dictionary to have:  3
Enter a key:  'India'
Enter a value:  'New Delhi'
Enter a key:  "Russia"
Enter a value:  'Moscow'
Enter a key:  'China'
Enter a value:  'Beijing'

{'India': 'New Delhi', 'Russia': 'Moscow', 'China': 'Beijing'}

#### Case-6

- using dictionary comprehension
- This is the easiest way to create a dictionary using loops

__Syntax:__

        {i:operation for i in range() condition)

In [122]:
# WAP that is going to take all the letters from A-Z as keys and their associated ASCII values as the values of the key

# Conventional way
d = {}

for i in range(ord('A'), ord('Z')+1):
    d[chr(i)] = i

print(d)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [128]:
# dictionary comprehension

d1= {chr(i):i for i in range(ord('A'), ord('Z')+1)}
print(d1)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

#### WAP to create a dictionary which is going to have 1-10 as key and when the number is even we will have square value and when the number is odd, then cube of the value

In [130]:
d = {}

# Iterate through the numbers from 1 to 10
for i in range(1, 11):
    if i % 2 == 0:  # Check if the number is even
        d[i] = i ** 2  # Square the number
    else:  # The number is odd
        d[i] = i ** 3  # Cube the number

# Print the resulting dictionary
print(d)

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [132]:
d2 = {i:i**2 if i%2 == 0 else i**3 for i in range(1,11)}
d2

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

### We can map multiple values to a key

In [134]:
n = int(input('Enter the number of elements you want the dictionary to have: '))

key= []
value = []

for i in range(n):
    a = eval(input('Enter a key: '))
    key.append(a)

    b = eval(input('Enter a value: '))
    value.append(b)

z = dict(zip(key, value))
z

Enter the number of elements you want the dictionary to have:  4
Enter a key:  'Name'
Enter a value:  ['Mayank', 'Geetika', 'Abha', 'Rishabh']
Enter a key:  'Age'
Enter a value:  [29, 27, 29, 30]
Enter a key:  'City'
Enter a value:  ['Bengaluru', 'Ambala', 'Panchkula', 'Noida']
Enter a key:  'Salary'
Enter a value:  [8000, 9000, 12000, 7600]

{'Name': ['Mayank', 'Geetika', 'Abha', 'Rishabh'],
 'Age': [29, 27, 29, 30],
 'City': ['Bengaluru', 'Ambala', 'Panchkula', 'Noida'],
 'Salary': [8000, 9000, 12000, 7600]}

#### Dictionary are mutable

- If we add or remove elements from the same dictionary, it will not create a new object and the changes are brought in the same memory location

In [138]:
emp = {'Name':'Rajesh', 'Age':29, 'City':'Mumbai', 'Salary' :45000}
print(emp, id(emp))

{'Name': 'Rajesh', 'Age': 29, 'City': 'Mumbai', 'Salary': 45000} 2173802815424

In [140]:
emp['City'] = 'Pune'

In [142]:
print(emp, id(emp))

{'Name': 'Rajesh', 'Age': 29, 'City': 'Pune', 'Salary': 45000} 2173802815424

#### How to add keys in an already existing dictionary

In [144]:
emp['Hobby'] = ['Cricket', 'Signing']

In [146]:
print(emp, id(emp))

{'Name': 'Rajesh', 'Age': 29, 'City': 'Pune', 'Salary': 45000, 'Hobby': ['Cricket', 'Signing']} 2173802815424

#### Nested Dictionary

- A dictionary within another dictionary is known as a nested dictionary
- where a dictionary is mapped to a key of another dictionary as a values

__Syntax:__

                {key:{key:value}}

In [148]:
emp1 = {'Name':'Rajesh', 'Age':29, 'City':'Mumbai', 'Salary' :45000}
emp2 = {'Name':'Mayank', 'Age':29, 'City':'Bengaluru', 'Salary' :55000}
emp3 = {'Name':'Deepak', 'Age':25, 'City':'Noida', 'Salary' :50000}

In [150]:
emp_details = {'emp1_detail':emp1, 'emp2_detail':emp2, 'emp3_detail':emp3}
emp_details

{'emp1_detail': {'Name': 'Rajesh',
  'Age': 29,
  'City': 'Mumbai',
  'Salary': 45000},
 'emp2_detail': {'Name': 'Mayank',
  'Age': 29,
  'City': 'Bengaluru',
  'Salary': 55000},
 'emp3_detail': {'Name': 'Deepak',
  'Age': 25,
  'City': 'Noida',
  'Salary': 50000}}

### How to fetch out the values from a nested dictionary

In [152]:
d

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [154]:
for i in d:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [156]:
emp_details

{'emp1_detail': {'Name': 'Rajesh',
  'Age': 29,
  'City': 'Mumbai',
  'Salary': 45000},
 'emp2_detail': {'Name': 'Mayank',
  'Age': 29,
  'City': 'Bengaluru',
  'Salary': 55000},
 'emp3_detail': {'Name': 'Deepak',
  'Age': 25,
  'City': 'Noida',
  'Salary': 50000}}

In [158]:
for i in emp_details:
    print(i)

emp1_detail
emp2_detail
emp3_detail

In [160]:
# I wqnt to fetch out the names of each employee

for i in emp_details:
    print(emp_details[i])

{'Name': 'Rajesh', 'Age': 29, 'City': 'Mumbai', 'Salary': 45000}
{'Name': 'Mayank', 'Age': 29, 'City': 'Bengaluru', 'Salary': 55000}
{'Name': 'Deepak', 'Age': 25, 'City': 'Noida', 'Salary': 50000}

In [164]:
# I wqnt to fetch out the names of each employee

for i in emp_details:
    print(emp_details[i]['Name'])

Rajesh
Mayank
Deepak

#### How to iterate over a nested dictionary

In [168]:
for i in emp_details: # this loop is going to iterate over the keys of the emp_details [emp1_detail, emp2_Detail, emp3_detail]
    for j in emp_details[i]: # this loop is  going to iterate over the keys of the inner dictionary [name, age, city, salary]
        print(j, emp_details[i][j])

Name Rajesh
Age 29
City Mumbai
Salary 45000
Name Mayank
Age 29
City Bengaluru
Salary 55000
Name Deepak
Age 25
City Noida
Salary 50000

### Dictionary Methods

In [170]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

### keys()

- It returns a key inside a dictionary object containing a list from the dictionary

In [172]:
d

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [174]:
d.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [178]:
print(type(d.keys()))

<class 'dict_keys'>

#### Inner Keys

In [184]:
emp_details

{'emp1_detail': {'Name': 'Rajesh',
  'Age': 29,
  'City': 'Mumbai',
  'Salary': 45000},
 'emp2_detail': {'Name': 'Mayank',
  'Age': 29,
  'City': 'Bengaluru',
  'Salary': 55000},
 'emp3_detail': {'Name': 'Deepak',
  'Age': 25,
  'City': 'Noida',
  'Salary': 50000}}

In [186]:
for i in emp_details:
    print(emp_details[i].keys())

dict_keys(['Name', 'Age', 'City', 'Salary'])
dict_keys(['Name', 'Age', 'City', 'Salary'])
dict_keys(['Name', 'Age', 'City', 'Salary'])

### Values

- It returns a dictionary object, containing a list of the values from the dictionary

In [188]:
d

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [190]:
d.values()

dict_values([1, 4, 27, 16, 125, 36, 343, 64, 729, 100])

#### Inner values

In [192]:
emp_details.values()

dict_values([{'Name': 'Rajesh', 'Age': 29, 'City': 'Mumbai', 'Salary': 45000}, {'Name': 'Mayank', 'Age': 29, 'City': 'Bengaluru', 'Salary': 55000}, {'Name': 'Deepak', 'Age': 25, 'City': 'Noida', 'Salary': 50000}])

In [194]:
for i in emp_details:
    print(emp_details[i].values())

dict_values(['Rajesh', 29, 'Mumbai', 45000])
dict_values(['Mayank', 29, 'Bengaluru', 55000])
dict_values(['Deepak', 25, 'Noida', 50000])

### items()

- It returns a dictionary object, that contains a list of tuples where every tuple has two values in it.
- The first element of the tuple is the key and the second element of the tuple is the value associated to that key

In [196]:
d

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [198]:
d.items()

dict_items([(1, 1), (2, 4), (3, 27), (4, 16), (5, 125), (6, 36), (7, 343), (8, 64), (9, 729), (10, 100)])

In [200]:
emp_details.items()

dict_items([('emp1_detail', {'Name': 'Rajesh', 'Age': 29, 'City': 'Mumbai', 'Salary': 45000}), ('emp2_detail', {'Name': 'Mayank', 'Age': 29, 'City': 'Bengaluru', 'Salary': 55000}), ('emp3_detail', {'Name': 'Deepak', 'Age': 25, 'City': 'Noida', 'Salary': 50000})])

#### Inner items

In [202]:
for i in emp_details:
    print(emp_details[i].items())

dict_items([('Name', 'Rajesh'), ('Age', 29), ('City', 'Mumbai'), ('Salary', 45000)])
dict_items([('Name', 'Mayank'), ('Age', 29), ('City', 'Bengaluru'), ('Salary', 55000)])
dict_items([('Name', 'Deepak'), ('Age', 25), ('City', 'Noida'), ('Salary', 50000)])

### update()

- It is used to update the elements of one dictionary to another dictionary
- It is used to combine two dictionary

__Syntax:__
        
        dict_1.update(dict_2)
        
__Note:__

- update() method takes a dictionary as an argument or input
- The elements of the dictionary 2 will be updated in dictionary 1

In [204]:
d = {i:i*2 for i in range(1,11) if i%2 == 0}
d1 = {i:i*3 for i in range(1,11) if i%2 != 0}

print(d)
print('-'*20)
print(d1)

{2: 4, 4: 8, 6: 12, 8: 16, 10: 20}
--------------------
{1: 3, 3: 9, 5: 15, 7: 21, 9: 27}

In [206]:
d.update(d1)

In [208]:
d

{2: 4, 4: 8, 6: 12, 8: 16, 10: 20, 1: 3, 3: 9, 5: 15, 7: 21, 9: 27}

In [210]:
d = {i:i*2 for i in range(1,11) if i%2 == 0}
d1 = {i:i*3 for i in range(1,11) if i%2 != 0}

print(d)
print('-'*20)
print(d1)

{2: 4, 4: 8, 6: 12, 8: 16, 10: 20}
--------------------
{1: 3, 3: 9, 5: 15, 7: 21, 9: 27}

In [212]:
d1.update(d)
print(d1)

{1: 3, 3: 9, 5: 15, 7: 21, 9: 27, 2: 4, 4: 8, 6: 12, 8: 16, 10: 20}

### pop()

- It returns the value at a specified key from the dictionary and removes the element at that particular key from the dictionary
- For an invalid key it will raise an error

In [214]:
d = {i:i**2 for i in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [216]:
x = d.pop(7)
print(x)

49

In [218]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 8: 64, 9: 81, 10: 100}

In [220]:
d.pop(11)

KeyError: 11

In [222]:
d.pop()

TypeError: pop expected at least 1 argument, got 0

### popitem()

- It returns the last element and removes the element from the dictionary
- It will not take an kind of arguments in it

In [224]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 8: 64, 9: 81, 10: 100}

In [226]:
y = d.popitem()
y

(10, 100)

In [228]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 8: 64, 9: 81}

In [232]:
d.popitem(4)

TypeError: dict.popitem() takes no arguments (1 given)

### fromkeys()

- It is used to assign the same value to multiple keys

    __Syntax:__
        
        dict.fromkeys(iterable, value)
  
__Note:__ The iterable should have keys

In [238]:
name = ['Mayank', 'Palak', 'Shanthi', 'Sahil', 'Abhishek']

d1 = dict.fromkeys(name, 'Learnbay')
d1

{'Mayank': 'Learnbay',
 'Palak': 'Learnbay',
 'Shanthi': 'Learnbay',
 'Sahil': 'Learnbay',
 'Abhishek': 'Learnbay'}

In [240]:
dict.fromkeys(d1, 'Indian')

{'Mayank': 'Indian',
 'Palak': 'Indian',
 'Shanthi': 'Indian',
 'Sahil': 'Indian',
 'Abhishek': 'Indian'}

### get()

- It takes a key as an argument and returns the value associated to that key
- For any invalid key, it will return a None

In [242]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 8: 64, 9: 81}

In [244]:
d[2]

4

In [246]:
d.get(2)

4

### setdefault()

- It takes a key as an argument
- If the key already exist, then it will return the value at that particular key
- If the key doesn't exist, then it creates one and assign a None value to it
- We can pass key and values both

In [250]:
name

['Mayank', 'Palak', 'Shanthi', 'Sahil', 'Abhishek']

In [254]:
city = ['Chandigarh', 'Aligarh', 'Bengaluru', 'Lucknow', 'Pune']

z = dict(zip(name, city))
z

{'Mayank': 'Chandigarh',
 'Palak': 'Aligarh',
 'Shanthi': 'Bengaluru',
 'Sahil': 'Lucknow',
 'Abhishek': 'Pune'}

In [256]:
z.setdefault('Palak')

'Aligarh'

In [258]:
z.setdefault('Chandni')

In [260]:
z

{'Mayank': 'Chandigarh',
 'Palak': 'Aligarh',
 'Shanthi': 'Bengaluru',
 'Sahil': 'Lucknow',
 'Abhishek': 'Pune',
 'Chandni': None}

#### we can pass both keys and values also in the setdefault method

In [262]:
z.setdefault('Priya', 'Surat')

'Surat'

In [264]:
z

{'Mayank': 'Chandigarh',
 'Palak': 'Aligarh',
 'Shanthi': 'Bengaluru',
 'Sahil': 'Lucknow',
 'Abhishek': 'Pune',
 'Chandni': None,
 'Priya': 'Surat'}

### clear()

- It removes all the elements from the dictionary and makes the dictioanry empty

In [266]:
z.clear()
z

{}

### copy()

- It copies all the element of the dictionary and creates a new dictionary

In [270]:
print(d, id(d))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 8: 64, 9: 81} 2173802778112

In [272]:
d1 = d.copy()
print(d1, id(d1))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 8: 64, 9: 81} 2173788993408

### Set


- set is unorderd collection of Unique values(Duplication is not allowed)
- it is not a seq data type --------> no indexing, slicing
- it can not contain a list and dictionary  inside it
- though set is a mutable datatype, the elements of set should be immutable in nature
- It also uses curly brackets, the difference is set do not have a key:value pair

In [276]:
s = {1,2,3,4,5,1,2,4,5,2,4,2,1,2,4,2,1,3,4}
print(s)

{1, 2, 3, 4, 5}

In [278]:
s = {[1,2,3], 3,4,5}

TypeError: unhashable type: 'list'

In [280]:
s = {(1,2,3), 3,4,5}

In [282]:
s

{(1, 2, 3), 3, 4, 5}

In [286]:
s = {{1:100},2,3}

TypeError: unhashable type: 'dict'

### Operations on set

In [292]:
s

{(1, 2, 3), 3, 4, 5}

In [296]:
len(s)

4

In [298]:
s = {1,2,3}
s1 = {2,3,4}

print(s+s1)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [300]:
s

{1, 2, 3}

In [302]:
s*5

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [304]:
s

{1, 2, 3}

In [306]:
s[1]

TypeError: 'set' object is not subscriptable

## Methods

In [308]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

### 1. add

In [311]:
s

{1, 2, 3}

In [313]:
s.add(2)
s

{1, 2, 3}

In [315]:
s.add(10)

In [317]:
s

{1, 2, 3, 10}

### 2. pop()

- It is going to return the arbitrary element to you

In [346]:
s = {1,2,3,10}
s

{1, 2, 3, 10}

In [348]:
x = s.pop()
x

3

In [350]:
y = s.pop()
y

1

In [352]:
s.pop()

10

In [354]:
s.pop()

2

In [356]:
s.pop()

KeyError: 'pop from an empty set'

### remove

In [359]:
s = {1,2,3,10}
s.remove(2)
s

{1, 3, 10}

In [361]:
s = {1,2,3,10}
s.remove(4)
s

KeyError: 4

In [367]:
s = {1,2,3,4}
s1 = {4,5,6,7}

print(s.union(s1))

{1, 2, 3, 4, 5, 6, 7}

In [369]:
s

{1, 2, 3, 4}

In [374]:
s

{1, 2, 3, 4}

In [376]:
s1

{4, 5, 6, 7}

In [378]:
print(s.intersection(s1))

{4}

In [380]:
s.intersection_update(s1)

In [382]:
s

{4}

In [384]:
s = {1,2,3,4}
s1 = {4,5,6,7}

print(s.symmetric_difference(s1))

{1, 2, 3, 5, 6, 7}

In [386]:
s.symmetric_difference_update(s1)

In [388]:
s

{1, 2, 3, 5, 6, 7}

In [372]:
s = {1,2,3,4}
s1 = {4,5,6,7}

print(s.

AttributeError: 'set' object has no attribute 'union_update'

## Frozenset

- the immutable version of the set

In [390]:
s

{1, 2, 3, 5, 6, 7}

In [392]:
fs = frozenset(s)
fs

frozenset({1, 2, 3, 5, 6, 7})

In [394]:
print(type(fs))

<class 'frozenset'>

In [396]:
s = 'Mayank atul ghai'
fs = frozenset(s)
fs

frozenset({' ', 'M', 'a', 'g', 'h', 'i', 'k', 'l', 'n', 't', 'u', 'y'})

In [398]:
len(fs)

12

In [400]:
print(dir(frozenset))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']