### List Methods

In [10]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### 1. append()

- It adds the element at the end of the list
- The addition of an element inside the list will not create a new object

In [16]:
lst = [1,2,3,4,5,6,7]
print(lst, id(lst))

[1, 2, 3, 4, 5, 6, 7] 2222600722880

In [18]:
lst.append(10)
print(lst, id(lst))

[1, 2, 3, 4, 5, 6, 7, 10] 2222600722880

In [20]:
lst.append(19.876)
print(lst, id(lst))

[1, 2, 3, 4, 5, 6, 7, 10, 19.876] 2222600722880

In [22]:
lst.append('python')
print(lst, id(lst))

[1, 2, 3, 4, 5, 6, 7, 10, 19.876, 'python'] 2222600722880

In [24]:
lst.append([1,2,3,4])
print(lst, id(lst))

[1, 2, 3, 4, 5, 6, 7, 10, 19.876, 'python', [1, 2, 3, 4]] 2222600722880

In [26]:
lst.append(1,2,3,4,5)

TypeError: list.append() takes exactly one argument (5 given)

### 2. extend()

- Unlike append() method, extend() method can take an iterable object as an argumnet
- It adds the elements of the iterable object to a list one by one

In [28]:
lst

[1, 2, 3, 4, 5, 6, 7, 10, 19.876, 'python', [1, 2, 3, 4]]

In [30]:
lst.extend('mayank')

In [32]:
print(lst, id(lst))

[1, 2, 3, 4, 5, 6, 7, 10, 19.876, 'python', [1, 2, 3, 4], 'm', 'a', 'y', 'a', 'n', 'k'] 2222600722880

In [34]:
lst.extend([1, True, False, range(5)])
print(lst, id(lst))

[1, 2, 3, 4, 5, 6, 7, 10, 19.876, 'python', [1, 2, 3, 4], 'm', 'a', 'y', 'a', 'n', 'k', 1, True, False, range(0, 5)] 2222600722880

In [36]:
lst = [1,2,3,4]
lst.extend(lst)
print(lst, id(lst))

[1, 2, 3, 4, 1, 2, 3, 4] 2220747622784

### 3. index()

- It returns the index of the first occurrence of an element from left to right
- If the element is not found, then it will return a __value error__

__Syntax:__

        lst.index(element)
        lst.index(element, starting index)
        lst.index(element, starting index, ending index)

In [44]:
import numpy as np

In [50]:
np.random.seed(10)
arr = list(np.random.randint(1,11,12))
arr

[10, 5, 1, 2, 10, 1, 2, 9, 10, 1, 9, 7]

In [52]:
arr.index(5)

1

In [54]:
arr.index(10)

0

In [56]:
arr.index(10, 1)

4

In [58]:
arr.index(1, 1, 3)

2

In [60]:
lst = [True, 'python', 0 , range(10), 1.0, 'a', 1+0j, False]

In [62]:
lst.index(1)

0

In [64]:
1 == True == 1.0 == 1+0j == 1

True

In [70]:
int(True)

1

In [ ]:
0 == False == 0.0 == 0+0j == 0

In [72]:
lst.index(True, 1)

4

In [74]:
lst.index(False)

2

### 4. Count()

- It will count the number of occurrence of the element inside a list

In [78]:
np.random.seed(10)
arr = list(np.random.randint(1,11,36))
print(arr)

[10, 5, 1, 2, 10, 1, 2, 9, 10, 1, 9, 7, 5, 4, 1, 5, 7, 9, 2, 9, 5, 2, 4, 7, 6, 4, 10, 7, 10, 2, 10, 5, 3, 7, 8, 9]

In [80]:
arr.count(10)

6

In [82]:
lst = [True, 'python', 0 , range(10), 1.0, 'a', 1+0j, False]

In [84]:
lst.count(1)

3

In [86]:
lst.count(0)

2

In [88]:
lst = [True, 2+0j,  'python', 0 , range(10), 2.0, 'a', 1+0j, False, 2]
lst.count(2)

3

### 5. pop()

- It returns the element available at a particular index and removes the element from the list
- By default, it returns and removes the last element of the list
- For an invalid index, it returns an index error

__Syntax:__

            lst.pop(index)

In [90]:
lst = [1,2.0, 3+7j, True, 'python', None, range(0), [1,2,3], (1,2,3), {1:100, 2:200}]

In [92]:
y = lst.pop(2)
print(y)

(3+7j)

In [94]:
print(lst)

[1, 2.0, True, 'python', None, range(0, 0), [1, 2, 3], (1, 2, 3), {1: 100, 2: 200}]

In [96]:
lst = [True, 2+0j,  'python', 0 , range(10), 2.0, 'a', 1+0j, False, 2]
x = lst.pop(0)
print(lst)

[(2+0j), 'python', 0, range(0, 10), 2.0, 'a', (1+0j), False, 2]

In [99]:
x

True

In [101]:
y

(3+7j)

#### remove()

- It removes the first occurrence of the specified element from list in the direction from left to right
- If the element is not found, then it will throw an __value error__

In [103]:
np.random.seed(10)
arr = list(np.random.randint(1,11,36))
print(arr)

[10, 5, 1, 2, 10, 1, 2, 9, 10, 1, 9, 7, 5, 4, 1, 5, 7, 9, 2, 9, 5, 2, 4, 7, 6, 4, 10, 7, 10, 2, 10, 5, 3, 7, 8, 9]

In [107]:
arr.remove(10)
print(arr)

[5, 1, 2, 10, 1, 2, 9, 10, 1, 9, 7, 5, 4, 1, 5, 7, 9, 2, 9, 5, 2, 4, 7, 6, 4, 10, 7, 10, 2, 10, 5, 3, 7, 8, 9]

In [109]:
lst = [True, 2+0j,  'python', 0 , range(10), 2.0, 'a', 1+0j, False, 2, 1, 1.0]
lst.remove(1)
print(lst)

[(2+0j), 'python', 0, range(0, 10), 2.0, 'a', (1+0j), False, 2, 1, 1.0]

In [111]:
lst1 = []
for i in arr:
    if i != 10:
        lst1.append(i)

print(lst1)

[5, 1, 2, 1, 2, 9, 1, 9, 7, 5, 4, 1, 5, 7, 9, 2, 9, 5, 2, 4, 7, 6, 4, 7, 2, 5, 3, 7, 8, 9]

### reverse()

- It will reverse the list
- It makes the changes in the existing list

In [117]:
print(lst1)

[5, 1, 2, 1, 2, 9, 1, 9, 7, 5, 4, 1, 5, 7, 9, 2, 9, 5, 2, 4, 7, 6, 4, 7, 2, 5, 3, 7, 8, 9]

In [123]:
lst1.reverse()

In [125]:
print(lst1)

[9, 8, 7, 3, 5, 2, 7, 4, 6, 7, 4, 2, 5, 9, 2, 9, 7, 5, 1, 4, 5, 7, 9, 1, 9, 2, 1, 2, 1, 5]

### sort()

- It will sort the list in the ascending order or descending order
- By default, it will sort the list in the ascending order
- It will make the changes in the existing list only

In [131]:
print(lst1)

[9, 8, 7, 3, 5, 2, 7, 4, 6, 7, 4, 2, 5, 9, 2, 9, 7, 5, 1, 4, 5, 7, 9, 1, 9, 2, 1, 2, 1, 5]

In [135]:
lst1.sort()
print(lst1)

[1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 4, 4, 4, 5, 5, 5, 5, 5, 6, 7, 7, 7, 7, 7, 8, 9, 9, 9, 9, 9]

In [137]:
# Descending order 

lst1.sort(reverse = True)
print(lst1)

[9, 9, 9, 9, 9, 8, 7, 7, 7, 7, 7, 6, 5, 5, 5, 5, 5, 4, 4, 4, 3, 2, 2, 2, 2, 2, 1, 1, 1, 1]

##### If the list contains duplicated values in it

### insert()

- It is used to insert an element at a particular index
- The previous element at that particular index will be shifted to the right hand side

__Syntax:__

        lst.insert(index, element)

In [143]:
lst = [True, 2+0j,  'python', 0 , range(10), 2.0, 'a', 1+0j, False, 2, 1, 1.0]
print(lst)

[True, (2+0j), 'python', 0, range(0, 10), 2.0, 'a', (1+0j), False, 2, 1, 1.0]

In [145]:
lst.insert(1, 100)
print(lst)

[True, 100, (2+0j), 'python', 0, range(0, 10), 2.0, 'a', (1+0j), False, 2, 1, 1.0]

In [149]:
lst.insert(len(lst)-1, 'mayank')
print(lst)

[True, 100, (2+0j), 'python', 0, range(0, 10), 2.0, 'a', (1+0j), False, 2, 1, 'mayank', 1.0]

In [151]:
lst.insert(len(lst), 9999)
print(lst)

[True, 100, (2+0j), 'python', 0, range(0, 10), 2.0, 'a', (1+0j), False, 2, 1, 'mayank', 1.0, 9999]

In [153]:
lst.insert(50, 'Data')
lst.insert(20, 'Science')
print(lst)

[True, 100, (2+0j), 'python', 0, range(0, 10), 2.0, 'a', (1+0j), False, 2, 1, 'mayank', 1.0, 9999, 'Data', 'Science']

In [155]:
lst.insert(50, 'DS')
lst.insert(17, 'Jobs')
print(lst)

[True, 100, (2+0j), 'python', 0, range(0, 10), 2.0, 'a', (1+0j), False, 2, 1, 'mayank', 1.0, 9999, 'Data', 'Science', 'Jobs', 'DS']

In [157]:
lst.insert(-1, 'India')
print(lst)

[True, 100, (2+0j), 'python', 0, range(0, 10), 2.0, 'a', (1+0j), False, 2, 1, 'mayank', 1.0, 9999, 'Data', 'Science', 'Jobs', 'India', 'DS']

In [159]:
lst.insert(-len(lst), 'Bengaluru')
print(lst)

['Bengaluru', True, 100, (2+0j), 'python', 0, range(0, 10), 2.0, 'a', (1+0j), False, 2, 1, 'mayank', 1.0, 9999, 'Data', 'Science', 'Jobs', 'India', 'DS']

### copy()

- It copies all the element from the list and return a new lisr with all the same elements of the previous list

In [161]:
lst = [1,2,3,4]
lst1 = lst.copy()
print(id(lst), id(lst1))

2220747869568 2220747869504

In [163]:
print(lst)

[1, 2, 3, 4]

In [165]:
print(lst1)

[1, 2, 3, 4]

In [167]:
lst[1] = 25

In [169]:
print(lst, lst1)

[1, 25, 3, 4] [1, 2, 3, 4]

### Aliasing

In [171]:
x = lst

In [173]:
lst[3] = 100

In [175]:
x

[1, 25, 3, 100]

In [177]:
lst1

[1, 2, 3, 4]

In [179]:
print(id(lst), id(x))

2220747869568 2220747869568

In [181]:
lst = [9, 8, 7, 3, 5, 2, 7, 4, 6, 7, 4, 2, 5, 9, 2, 9, 7, 5, 1, 4, 5, 7, 9, 1, 9, 2, 1, 2, 1, 5]

count = 0

for i in lst:
    if i == 7:
        count = count+1

print(count)

5

In [183]:
lst.count(7)

5

### List are Mutable in nature

- We can modify the values after the declaration of the object
- Item re-assignment is also possible here
- The address remains the same before and after the modification

### Tuples

- Anything written inside the round paranthese or round brackets() is a tuple
- Just like the list, here the elements are seperated by a comma from each other
- A tuple is also container datatype, that means it can have multiple elements in it
- A tuple can contain hetergenous (different types) element in it
- A tuple can contain duplicated element as well
- The only exception here is that tuples are immutable, i.e. we cannot modify them i.e. we cannot remove an element, insert and element and we cannot do item re-assign at any index

In [185]:
t = (1,2,3,4)
print(t, type(t))

(1, 2, 3, 4) <class 'tuple'>

In [189]:
t = (1)
print(t, type(t))

1 <class 'int'>

In [191]:
t = (1,)
print(t, type(t))

(1,) <class 'tuple'>

In [193]:
t = ()
print(t, type(t))

() <class 'tuple'>

In [195]:
t = (1,2,3,4,5,6,7)

for i in t:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>

In [197]:
t = (1, 2.0, 3+7j, True, 'python', None, range(0), [1,2,3], (1,2,3), {1:100, 2:200}, {1,2,3,4})

for i in t:
    print(i, type(i))

1 <class 'int'>
2.0 <class 'float'>
(3+7j) <class 'complex'>
True <class 'bool'>
python <class 'str'>
None <class 'NoneType'>
range(0, 0) <class 'range'>
[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>
{1: 100, 2: 200} <class 'dict'>
{1, 2, 3, 4} <class 'set'>

In [199]:
t = (1,2,3)

In [201]:
t.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [203]:
t.remove(3)

AttributeError: 'tuple' object has no attribute 'remove'

In [205]:
t.extend('mayank')

AttributeError: 'tuple' object has no attribute 'extend'

In [207]:
t.insert(1, 'python')

AttributeError: 'tuple' object has no attribute 'insert'

In [209]:
t.pop(1)

AttributeError: 'tuple' object has no attribute 'pop'

In [211]:
print(t, id(t))

(1, 2, 3) 2220747870080

In [213]:
t = t+(18,)
print(t, id(t))

(1, 2, 3, 18) 2220748318464

### Tuples are immutable

- We cannot modify the values one declared
- Item reassignment is not possible
- Addresses are going to be different after modification

In [215]:
t

(1, 2, 3, 18)

In [217]:
t[1] = 100

TypeError: 'tuple' object does not support item assignment

### Operations on the Tuple

- length
- conatenation
- repeitition
- Indexing and Slicing

In [219]:
t = (1, 2.0, 3+7j, True, 'python', None, range(0), [1,2,3], (1,2,3), {1:100, 2:200}, {1,2,3,4})

#### Length

- It tells us about the number of elements a tuple contains
- __len()__ function is used

In [221]:
print(len(t))

11

### Concatenation

- Joining or adding  two or more tuple together is known as concatenation

In [223]:
t = (1,2,3,4,5,6)
t2 = (19)

print(t+t2)

TypeError: can only concatenate tuple (not "int") to tuple

In [225]:
t = (1,2,3,4,5,6)
t2 = (19,)

print(t+t2)

(1, 2, 3, 4, 5, 6, 19)

### Repetition

- (*) operator is used to perform the repetition on a tuple

In [227]:
print((1,2,3,4)*5)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

### Indexing and Slicing

- A tuple is an container datatype because it can have multiple element in it
- A tuple is a sequential datatype because it retains the index of each element in the order we have pass them means it follows indexing
- A tuple supports both positive indexing and negative indexing

In [229]:
np.random.seed(10)
t = tuple(np.random.randint(10,100, 12))
print(t)

(19, 25, 74, 38, 99, 39, 18, 83, 10, 50, 46, 26)

#### Positive indexing

- The direction in which it moves is from left to right
- By default, the indexing starts from 0
- The index of the last element is len(tuple)-1

#### Negative Indexing

- The direction in which it moves is from right to left
- By default, the indexing will start from -1
- The index of the last element is -len(tuple)

                                             0  1  2  3  4 ----> Positive indexing
                                            (1, 2, 3, 4, 5)
                                            -5 -4 -3 -2 -1 ----> Negative indexing

### Slicing


__Syntax:__

                tuple_variable[starting_index : ending_index : step-size]

In [232]:
t

(19, 25, 74, 38, 99, 39, 18, 83, 10, 50, 46, 26)

In [234]:
t[::2]

(19, 74, 99, 18, 10, 46)

In [236]:
t[::-3]

(26, 10, 39, 74)

### How to create a tuple

#### Case-1

- When we already know the element

In [238]:
t = (1, 'python', True, None, range(10))
print(t)

(1, 'python', True, None, range(0, 10))

#### Case-2

- We can use typcasting to create a tuple
- We can typecast any iterable object (range, string, list, dictionary, set and frozenset)

In [240]:
s = 'python'
t = tuple(s)
print(t)

('p', 'y', 't', 'h', 'o', 'n')

In [242]:
a = 11
t = tuple(a)
print(t)

TypeError: 'int' object is not iterable

### Case-3

- Using loops

In [244]:
n = int(input('Enter the number of elements you want to have in the tuple: '))
t = ()
for i in range(n):
    a = eval(input('Enter the element you want to add in the tuple: '))
    t = t+ (a,)

print(t)

Enter the number of elements you want to have in the tuple:  4
Enter the element you want to add in the tuple:  1
Enter the element you want to add in the tuple:  2.0
Enter the element you want to add in the tuple:  3+6j
Enter the element you want to add in the tuple:  True

(1, 2.0, (3+6j), True)

### Case-4

- we can create a tuple using round bracket ()

In [248]:
t = (1,2,3)
print(t, type(t))

(1, 2, 3) <class 'tuple'>

### Case-5

- Packing: We are assigning multiple values to a single variable, by default, python will store them as tuples

In [250]:
a = 1,2,3,4,5,6,7,8,9
print(a, type(a))

(1, 2, 3, 4, 5, 6, 7, 8, 9) <class 'tuple'>

- unpacking: Assigning values to multiple variable from a single variable is knowns as unpacking

In [252]:
num_1, num_2, num_3, num_4, num_5, num_6, num_7, num_8, num_9 = a

In [254]:
num_1

1

In [258]:
num_2

2

In [260]:
num_3

3

In [262]:
a = 'Mayank', 29, '89000', 'benagluru'
print(a, type(a))

('Mayank', 29, '89000', 'benagluru') <class 'tuple'>

In [264]:
name, age, salary, city = a

In [266]:
name

'Mayank'

In [268]:
name, salary, age,  city = a

In [270]:
salary

29

In [272]:
age

'89000'

### Methods

In [274]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

### Count

- It counts the number of occurrences of an element inside a tuple
- By default, if the element is not found, it will return a zero

In [276]:
np.random.seed(10)
t = tuple(np.random.randint(1, 10, 12))
print(t)

(5, 1, 2, 1, 2, 9, 1, 9, 7, 5, 4, 1)

In [278]:
t.count(1)

4

### index()

- It returns the index of the first occurrence of an element from left to right
- if the element is not found inside the tuple, it will throw a __value error__

In [280]:
t

(5, 1, 2, 1, 2, 9, 1, 9, 7, 5, 4, 1)

In [282]:
t.index(10)

ValueError: tuple.index(x): x not in tuple

In [284]:
t.index(1)

1

In [286]:
t.index(9)

5

In [288]:
Dictionary - 1.5
set and frozenset 0.5
functions - 1.5
modules - 0.5
file handling and exception handling - 2
OOPS - 3,4

SyntaxError: invalid syntax (3318162140.py, line 5)