### Variables and Constants

####  Variable

- A variable is a container that is going to hold some value in it for a time being, we can change the value stored in the variable at any point of time
- A varaiable will retain the same value until a new value is assigned to it

In [ ]:
a = 10
print(a)

10

In [ ]:
a = a+1
print(a)

11

In [ ]:
a

11

In [ ]:
a

11

In [ ]:
a =12

In [ ]:
a

12

#### Constanst

- The values stored in the variable, whose value we are not allowed to change in the progarm
- We will use Upper letter ot upper case for constansts

In [ ]:
PI = 3.14

In [ ]:
a = 3
area = PI*(a**2)
area

28.26

In [ ]:
circumference = 2*PI*a
circumference

18.84

### Data-Types

- A datatype is a type identifier of the value that a variable is going to hold
- __type()__ function is used to tell us that which type of data, we have stored in a variable

In [ ]:
a = 10
type(a)

int

### Types of Data

- Basic Datatypes or Fundamental Datatypes or Primitive Datatypes
    
    - int
    - float
    - complex
    - string
    - boolean
    - None
    - range

#### Integer Datatypes `

- Any number +ve, -ve or zero without a decimal value is known as Integer Datatype

In [ ]:
a = 10
print(a, type(a))

10 <class 'int'>

In [ ]:
a = -100
print(a, type(a))

-100 <class 'int'>

In [ ]:
a = 0
print(a, type(a))

0 <class 'int'>

#### Float Datatype

- Any number +ve, -ve or zero with decimal points are called as float datatypes
- all the float values are internally stored in the form of exponentials

In [ ]:
a = 10.0
print(a, type(a))

10.0 <class 'float'>

In [ ]:
1e1 # 1*10^1

10.0

In [ ]:
1e-1 # 1*10^(-1)

0.1

In [ ]:
a = 1
b = 1e0
print(type(a), type(b))

<class 'int'> <class 'float'>

In [ ]:
a = 10502e-2
a

105.02

#### Complex Datatype (though we are not going to use in the data science)

- any nummber stored in the form of a+bj or a+bJ is considered a complex number
- where a is the real number and b is the imaginary number

In [ ]:
a = 10+7j
print(type(a))

<class 'complex'>

In [ ]:
a.real

10.0

In [ ]:
a.imag

7.0

#### String

- anythiing that we are going to write in '...', "...." ,'''.....''' or """....."""
- It can store a character, it can store a word, it can store a setenece or a paragraph or any other datatype
- '....' and "..." will be used extensively to represnt a string datatype
- '''...''' and """...""" these are either used to write docstrings (documentatioanl string or multi-line comments )
- In some cases, if we want to write a multi-line string statement, then also we will use either '''......''' or """......."""

In [ ]:
a = 'learnbay'
print(type(a))

<class 'str'>

In [ ]:
a = "Mayank"
print(type(a))

<class 'str'>

In [ ]:
a = '''Hi,
My name is Mayank Atul Ghai
and i am your Python trainer'''

print(a,type(a))

Hi,
My name is Mayank Atul Ghai
and i am your Python trainer <class 'str'>

In [ ]:
a = '1'
print(type(a))

<class 'str'>

In [ ]:
a = 'Hi,
My name is Mayank Atul Ghai
and i am your Python trainer'
print(a)

SyntaxError: unterminated string literal (detected at line 1) (156502212.py, line 1)

In [ ]:
print()

In [ ]:
def add(a,b):
    '''Functionality: This function takes two value from the user and gives me the sum of these two numbers'''
    c = a+b
    return c

In [ ]:
add()

In [ ]:
a = 'mayank' # 'M'+'a'+'y'+'a'+'n'+'k'

In [ ]:
'M'+'a'+'y'+'a'+'n'+'k'

'Mayank'

In [ ]:
M+a+y+a

NameError: name 'M' is not defined

 To read the docstring of any function, write the function name, come in the brackets and press __lshift+tab__

#### Boolean Datatype

- It is going to have two values in it
- __True__ or __False__

In [ ]:
a = True
print(type(a))

<class 'bool'>

In [ ]:
a = False
print(type(a))

<class 'bool'>

In [ ]:
a = true
print(type(a))

NameError: name 'true' is not defined

In [ ]:
Mayank
mayank
MAYANK

In [ ]:
a = 'Mayank'
b = 'MAYANK'

a == b

False

#### None Datatype

- None is a nonedatatype
- It is used to represent a missing value or a null value in python

In [ ]:
a = None
id(a)

140724761824016

In [ ]:
a = 10

In [ ]:
a = a+1

#### Range

- This datatype will generate a series of number between a specified numbers or range
- It can only happen for integer values

__Syntax:__

                range(start, stop(n+1), skip)

                By default, if we don't give the start value it will take it as 0
                by default, if we don't give the skip values, it will take it as 1
                ending values is excluded

In [ ]:
a = range(5)
a

range(0, 5)

In [ ]:
[0,inf) --- 0 is included

In [ ]:
a = range(1,5,2) #[1,5)
a
# [1,5)
# start = 1
# stop = 5
# skip = 2

# 1,3

for i in a:
    print(i)

1
3

In [ ]:
for i in a:
    print(i)

0
1
2
3
4

In [ ]:
a = range(10,20)
for i in a:
    print(i)

10
11
12
13
14
15
16
17
18
19

In [ ]:
a = range(5,0,-1)
for i in a:
    print(i)

5
4
3
2
1

In [ ]:
a = range(0,5,-1) #[0,5)
for i in a:
    print(i)

# i  = 0
# i = 0-1 = -1

In [ ]:
a = range(0,6,3)
for i in a:
    print(i)

0
3

In [ ]:
range(1.0, 5)

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
for i in range(0,-5, -1):
    print(i)

0
-1
-2
-3
-4

In [ ]:
for i in range(0,-5,-1):
    print(i)

0
-1
-2
-3
-4

#### In python, we assign memory location to the values not to the variables, variables are just a name tag

In [ ]:
a = 1
print(id(a))
b = 1
print(id(b))

140724763214632
140724763214632

### Derived Datatypes

- These are container datatypes that are used to store multiple values or element in it
    
    - list
    - tuple
    - dictionary
    - set
    - frozenset

#### list

- anything written inside a square bracket [......] is considered a list datatype
- each element or values are seperated by each other with a comma(,)
- a list can contain both homogenous (same type of data) or heterogenous values ( different type of data)
- a list can have duplicate values in it
- we can add anything or remove anything from the list, that means they are mutable

In [ ]:
a = [1]
print(a, type(a))

[1] <class 'list'>

In [ ]:
a = [1,2,3,4,5,6]
print(a, type(a))

[1, 2, 3, 4, 5, 6] <class 'list'>

In [ ]:
a = [1, 2.0, 3+7j, 'python', None, True, range(1,4), [1,2,3,4]]
print(a, type(a))

[1, 2.0, (3+7j), 'python', None, True, range(1, 4), [1, 2, 3, 4]] <class 'list'>

In [ ]:
a = [1,2,3,4,5,4,3,2,1,2,1,3,4,5]
print(a, type(a))

[1, 2, 3, 4, 5, 4, 3, 2, 1, 2, 1, 3, 4, 5] <class 'list'>

In [ ]:
a = [1,2,3,4,5]
id(a)

2265845586304

In [ ]:
a.append(100)
print(a, id(a))

[1, 2, 3, 4, 5, 100] 2265845586304

In [ ]:
for i in a:
    print(i, id(i))

1 140724763214632
2 140724763214664
3 140724763214696
4 140724763214728
5 140724763214760
100 140724763217800

#### Tuples

- anything written inside a round bracket (......) is considered a tuple datatype
- each element or values are seperated by each other with a comma(,)
- a tuple can contain both homogenous (same type of data) or heterogenous values ( different type of data)
- a tuple can have duplicate values in it
- we cannot add anything or remove anything from the tuple, that means they are immutable

In [ ]:
a = (1,2,3,4)
print(type(a))

<class 'tuple'>

In [ ]:
a = (1)
print(type(a))

<class 'int'>

In [ ]:
a = (1,)
print(type(a))

<class 'tuple'>

In [ ]:
a.append(100)

AttributeError: 'tuple' object has no attribute 'append'

#### How the list and tuples are differnt from each other?

In [ ]:
a = [1,2,3,4]
print(a, type(a), id(a))

[1, 2, 3, 4] <class 'list'> 2265846073024

In [ ]:
a.append(1)
a

[1, 2, 3, 4, 1]

In [ ]:
id(a)

2265846073024

In [ ]:
a.remove(3)
print(a, id(a))

[1, 2, 4, 1] 2265846073024

In [ ]:
t = (1,2,3,4)
print(t, type(t), id(t))

(1, 2, 3, 4) <class 'tuple'> 2265846105648

In [ ]:
t.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
t.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
t_1 = t+(1,)
print(t_1, id(t_1))

(1, 2, 3, 4, 1) 2265846337184

#### Dictionary

- A dictionary is a collection of key and value pairs
- It will have curly brackets {}
- Every key: value pair is separated by a comma
    - key can have immutable datatype and non container datatype(except string) such as int, float, string etc
    - values can be of any datatype (mutable and immutable datatype)
    - we cannot use a container datatype as a key
    - keys cannot be duplicated but the values can have duplicated values
    - if we pass duplicate keys, then it will be going to take the last assigned values

In [ ]:
a = {1:100, 2:200, 3:300}
print(a, type(a))

{1: 100, 2: 200, 3: 300} <class 'dict'>

In [ ]:
a = {'Name':'Mayank','Age':29, 'D.O.B': '1st Jan', 'City': 'Bengaluru'}
a

{'Name': 'Mayank', 'Age': 29, 'D.O.B': '1st Jan', 'City': 'Bengaluru'}

In [ ]:
a ={[1,2,3]:100}

TypeError: unhashable type: 'list'

In [ ]:
a = {1:100, 2:200, 3:300, 1:400}
a

{1: 400, 2: 200, 3: 300}

In [ ]:
a = {1:100, 2:200, 3:300, 4:200}
a

{1: 100, 2: 200, 3: 300, 4: 200}

### Set

- Anything written inside a curly bracket is a set datatype
- comma is used to seperate different elements inside the set datatype
- set datatype does not allow duplicate elements inside it, it will return only the unique values
- a set can contain heterogenous datatypes
- a non sequential datatype, meaning we cannot use indexing here
- sets are muatble datatype

In [ ]:
a = {1,2,3,4,5}
print(a, type(a))

{1, 2, 3, 4, 5} <class 'set'>

In [ ]:
a = {1,2,3,4,5,2,3,2,1,3,5,5}
a

{1, 2, 3, 4, 5}

In [ ]:
a = [0,100, 1, 2, 2000]
a

[0, 100, 1, 2, 2000]

In [ ]:
a = {0,100, 1, 2, 2000}
a

{0, 1, 2, 100, 2000}

In [ ]:
a = set('Mayank')
a

{'M', 'a', 'k', 'n', 'y'}

In [ ]:
print(a)

{'k', 'n', 'a', 'y', 'M'}

#### frozenset

- when we pass an iterable object(string, tuple, list, set, range) inside a frozenset() then it is a frozenset datatype
- comma is used to seperate different elements inside the set datatype
- set datatype does not allow duplicate elements inside it, it will return only the unique values
- a set can contain heterogenous datatypes
- a non sequential datatype, meaning we cannot use indexing here
- sets are immuatble datatype

In [ ]:
a = frozenset('Mayank')
a

frozenset({'M', 'a', 'k', 'n', 'y'})

In [ ]:
a = frozenset('Mayank')
print(a)

frozenset({'k', 'n', 'a', 'y', 'M'})

- Numeric Data

    - int
    - float
    - complex

- Sequential Datatype

    - string
    - range
    - list
    - tuple

- Mapping Datatype
    - Dictionary

- Non-sequential Datatype
    - Set
    - frozenset

- boolean
- None

### Muatble and Immutable

#### Mutable datatypes

- Any datatype where we can change the values i.e. we can add a value or we can remove a values, they are called mutable datatypes
- if something is added or removed, the memory space where the things are stored remain same
- Sometimes, people may denote them as unhashable datatypes
- __Example:__ list, dictionary and set

#### Immutable datatype

- Those datatypes in which we cannot bring any kind of a change, means we cannot remove or add values in it
- That object once created the memory location of these objects are fixed and change will create a new object pointing to some other memory location
- They are also known as hashable datatypes
- __Example:__ int, float, complex, boolean, None string, tuples and frozenset

In [ ]:
a = 11
print(a, id(a))

11 140724763214952

### Type Casting

- Conversion of one datatype to another datatype is known as Type casting

### Type of Type casting

- Implicit type casting ---> which is done by the compiler itself (only seen in numeric datatype)
- Explicit type casting --> where we are going the conversion manually

#### Implicit typecasting

Precedence --> int<float<complex

In [ ]:
a = 1 # 1.0
b = 1.0
print(a+b)

2.0

In [ ]:
a = 1.0 # 1+0j
b = 1+8j
print(a+b)

(2+8j)

### Input and Output Statement

#### Input Statement

- input() function is used to take an input from the user
- By default, input() function will take the value in string format

In [ ]:
a = input('Enter a number: ')
a

Enter a number:  10

'10'

### Explicit Type casting

In [ ]:
a = int(input('Enter a number: '))
print(a, type(a))

Enter a number:  10

10 <class 'int'>

In [ ]:
a = float(input('Enter a number: '))
print(a, type(a))

Enter a number:  10

10.0 <class 'float'>

In [ ]:
a = complex(input('Enter a number: '))
print(a, type(a))

Enter a number:  10

(10+0j) <class 'complex'>

In [ ]:
a = list(input('Enter a number: '))
print(a, type(a))

Enter a number:  10

['1', '0'] <class 'list'>

In [ ]:
'10'---> '1'+'0'

#### Output function

- print() function is used to display an output to the user
- type of print() function is a none dataype

In [ ]:
a = print('learnbay')
print(a)

learnbay
None

### Different ways of writing an Ouput

In [ ]:
a = 10
b = 20
c = a+b
print(c)

30

In [ ]:
print('The sum of' + a+'and'+ b+ 'is'+ c)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print('The sum of'+' ' + str(a)+' '+'and'+' ' +str(b)+' '+'is'+' '+ str(c))

The sum of 10 and 20 is 30

#### Format function

In [ ]:
print('The sum of {} and {} is {}'.format(a,b,c))

The sum of 10 and 20 is 30

In [ ]:
print('The sum of {} and {} is {}'.format(b,a,c))

The sum of 20 and 10 is 30

In [ ]:
print('The sum of {} and {} is {}'.format(c, a,b))

The sum of 30 and 10 is 20

#### f-formatting

In [ ]:
pr

In [ ]:
b = None
id(b)

140724761824016