### Functions

- A function is a block of code that gets executed as and when it is called
- A function is used to reuse a code
- By using function, we write the code once and we use it n number of times in the same program
- A function helps us to reduce the lines of the code in a program


__Syntax:__
                
                # Function declaration  
            
                          def function_name():
                              code
                              code
                              return some value
                              
                # Function calling
                            
                            function_name()

In [5]:
a = int(input('Enter a number: '))
b = int(input('Enter a number: '))

c = a+b
print(c)

Enter a number:  10
Enter a number:  20

30

### Type of Functions

- Built-in function or In-built functions
- User-defined Functions (functions created by us )


#### Built-in Functions or In-built Functions
    
- Those functions that are already defined in Python are Known as in-built functions or predefined functions
- As a user, we have not created them we will just use them
- Examples: print(), len(), help(), id(), ord(), chr(), type() etc
  
#### User-defined Functions

- The functions that are defined or created by the user are known as user-defined functions
- In user-defined functions, the programmer has to write their logic on how the function should work
- We create functions to solve a particular problem
- A user-defined function is defined by using a def keyword amd a lambda keyword

### Components of a User-defined functions

- Function definition or function declaration
- Function call

#### Function Declaration or Definition:

    - This is the place where we define a function with a name, writes a logic (code) on what will be the functionality of the function we have craeted
    
    Syntax:
        
        def function_name():
            
            # function body
            code
            code
            code
            code
            code

In [15]:
def add():
    a = int(input('Enter a number: '))
    b = int(input('Enter a number: '))

    c = a+b
    return c

#### Function Call

- A function call is a kind of a trigger
- As and when called the defined function will be executed and we will get the desired result there only

__Syntax:__
        
        function_name()

In [18]:
add()

Enter a number:  1
Enter a number:  2

3

In [22]:
def add_1(a,b):
    return a+b

In [24]:
add_1(7,8) # a = 7, b = 8

15

In [29]:
x = 10
y = 5

add_1(x,y)

15

### Types of User-Defined function

- Parameterised functions
- Non-Parameterised functions

#### Parameterised functions
    
- When we pass parameters inside a function declaration then it is called as parameterized function

#### Non-Parameterised functions
    
- When we are not passing any parameters inside a function they are called non-parameterised functions
    
#### Parameter

- When we pass variables inside a function declaration then those variables are called as parameters
  
#### Arguments
    
- When we pass variables inside the function call then those variables are called arguments

### Global and Local variable

#### Global Variables
    
- The variables that are defined outside the function are known as global variables
- The Global variable has a scope both outside as well as inside the function
    
#### Local Variable

- The variables that are defined inside a function are known as local variables
- The local variables have the scope only inside the function
- We cannot use the local variable outside the function

In [32]:
a = 10 # global 

def test():
    k = a+1 # k = 10+1 ---> k = 11
    print(k)

print(a)

10

In [36]:
print(k)

NameError: name 'k' is not defined

In [38]:
test()

11

### Return vs Print

#### Print
     
- when we use print statement in a program, we are essentially asking the interpretor to display something, typically for the benefit of the user or for debugging purposes.
- It does not affects the flow of the program or provide any data that can be manipulated further
- if we are going to store this print statement in a variable and check the type of it, it will return a __None__ datattype

#### Return

- It is used within functions to send a value or data back to the caller
- So that it can be manipulated further
- if we are going to store this print statement in a variable and check the type of it, it will return a value
- It terminates the function declaration

In [41]:
print(a)

10

In [43]:
def add(x,y):
    print(x+y)

In [45]:
x = add(8,9)
print(x)

17
None

In [47]:
def add_1(x,y):
    return x+y

In [51]:
y = add_1(8,1) # x = 8, y = 1
print(y)

9

In [53]:
x+1

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [55]:
y+1

10

In [58]:
def mul(x,y):
    return x*y
    print(x)
    print(y)

In [60]:
mul(4,3)

12

- A function may or may not return a value
- return statement is used to return a value from the function
- return statement returns the value back to the function call
- we assign the function to a variable, so that we can handle the return value for further processing
- If we want to use the result, we have to assign the function call to a variable
- return statement will terminate the function declaration

__Note:__ print() statement does not return anything, it returns a None Datatype

In [ ]:
# # I want create function for adding two numbers, 
# subtracting two number
# muktiplying two number
# dividing two numbers
# floor_division
# exponential

In [64]:
def add(m,n):
    return m+n

In [80]:
add(1,3)

4

In [82]:
add(100,200)

300

In [66]:
def sub(m,n):
    return m-n

In [84]:
sub(9,8)

1

In [86]:
sub(-100, 200)# m = -100, n = 200
# m-n --> -100-200 ---> -300

-300

In [70]:
def mul(a,b):
    return a*b

In [88]:
mul(7,6)
# a = 7, b = 6
# a*b = 7*6 = 42

42

In [76]:
def div(m,n):
    return m/n

In [90]:
div(10,2)

5.0

In [74]:
def floor_div(m,n):
    return m//n

In [78]:
def exponential(m,n):
    return m**n

In [92]:
a = 'she sells sea shells on the sea shore'
a.split()

['she', 'sells', 'sea', 'shells', 'on', 'the', 'sea', 'shore']

In [94]:
def mimic_split(n):
    lst = []
    word = ''

    for i in n:
        if i != ' ':
            word = word +i

        else:
            lst = lst+[word]
            word = ''
    lst = lst+[word]
    return lst

In [96]:
mimic_split('she sells sea shells on the sea shore')

['she', 'sells', 'sea', 'shells', 'on', 'the', 'sea', 'shore']

In [98]:
mimic_split('Mayank Atul Ghai')

['Mayank', 'Atul', 'Ghai']

In [ ]:
Function which are defined in a class is known as method of that class

In [100]:
a = 'Mayank'

In [ ]:
a.

In [102]:
split()

NameError: name 'split' is not defined

In [104]:
a = 1
a.split()

AttributeError: 'int' object has no attribute 'split'

### Types of Argument

1. Required positional argument
2. Default arguments
3. Keyworded arguments
4. Variable length arguments (*args)
5. Keyworded variable length arguments (*kwargs)

### 1. Required Positional Argument

- The number of variable inside the function declaration and the function call should be the same (Important rule)
- The value passed from the arguments to parameters should be in a sequence as they are positioned
- The variable in function call and in function declaration may be same or different, it doesn't matter

In [108]:
def add(x,y):
    print(x)
    print(y)
    return x+y

add(1,2) # x = 1 y = 2

1
2

3

In [110]:
add(3,2)

3
2

5

In [112]:
a = 1
b = 10

add(a,b) # x = a = 1, y = b = 10

1
10

11

### 2. Default argument

- When we assign some value to a variable in a function declaration itself the it becomes a default argument
- If we dont pass any value for the default argument, then it will take the default value that we have already declared while declaring the function
- if we pass some value  to the default argument, then it will take the passed value in it
- Default argument should always be placed after the positional argument
- The variable name in the function and the function call maybe same or different, it doesn't matter

In [115]:
def add(a,b, c = 10):
    return a+b+c

In [119]:
add(1,2) # a = 1, b = 2, c = 10

13

In [121]:
add(1,2,3) # a = 1, b = 2, c = 3

6

In [123]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
print()

In [128]:
def add(a = 10,b, c):
    return a+b+c

SyntaxError: parameter without a default follows parameter with a default (4219975114.py, line 1)

### 3. Keyworded Argument

- When we assign some value to a variable in the function call, then it is known as keyworded argument
- The variable name for the keyworded argument should be the same in both the function declaration as well as in the function call
- for keyworded argument the position or the order does not matter
- Keyworded argument should be placed after the positional argument

In [130]:
def course(x,y):
    print(x)
    print(y)

In [132]:
x = 'Mtech'
course(x, y = 'MBA') # y = keyworded argument

Mtech
MBA

In [134]:
a = 'Mtech'
course(a, b = 'MBA')

TypeError: course() got an unexpected keyword argument 'b'

In [140]:
for i in range(1,11):
    print(i, end = '-') # end = '\n'
# In print function, end parameter is acting both as a default argument and a keywrorded argument

1-2-3-4-5-6-7-8-9-10-

10-

### 4. Variable Length Argument

- If we don't know the number of arguments to be passed, then we will use a variable length argument
- It will going to store all the values inside a tuple

__Syntax:__
    
    
        def function_name(*variable_name):
            code
            code
            code

In [143]:
# suppose you want to declare a function to give you the cummilative sum of n values 

def cummilative_sum(*a):
    sum = 0
    for i in a:
        sum = sum+i

    return sum

In [145]:
cummilative_sum(1,2,3,4,5,6,7,8,9,10)

55

In [147]:
cummilative_sum(1,3,5,7,9,11,13)

49

In [153]:
def cummilative_sum(a,b,*c): # a = 1, b = 2, c = (3,4,5,6,7,8,9,10)
    sum = a+b
    for i in c:
        sum = sum+i

    return sum

In [155]:
cummilative_sum(1,2,3,4,5,6,7,8,9,10)

55

### 5. Keyworded Variable length argument
- When we don't know how many keyworded arguments are there then we will use a keyworded variable length argument
- It stores the values as a dictionary
- The variable becomes the keys and the values associated with the variable become the values for the keys

__Syntax:__


            def function_name(**a):
                code
                code

                function_nmae(key1 = value1, key2 = value2, key3 = value3..........)

In [157]:
def course(**a):
    print(a, type(a))

In [159]:
course( a= 'MTech', b = 'Btech', c = 'MBA', d = 'BBA', e = 'BCOM')

{'a': 'MTech', 'b': 'Btech', 'c': 'MBA', 'd': 'BBA', 'e': 'BCOM'} <class 'dict'>

### Anonymous Function or Lambda function

- the function where we don't give any name, are called as anonymous function or lambda function
- __lambda__ keyword is used to declare an anonymous function

__Syntax:__
    
        (lambda parameters:operation) (call)

In [162]:
# Create a lambda function that is going to add two numbers in it 

(lambda x,y: x+y) (1,2)

3

In [164]:
x = (lambda x,y: x+y)

In [170]:
x(1,2)

3

In [172]:
# create a function to tell that which number is maximum among the two numbers

(lambda x,y: x if x>y else y) (10,20)

20

In [174]:
# create a function to tell which is minimum among the three numbers

(lambda x,y,z: x if (x<y and x<z) else y if (y<z and y<x) else z) (100,-10, 5)

-10

#### we can assign the lambda() function to a variable and then we can call the variable n number of time

In [176]:
min = (lambda x,y,z: x if (x<y and x<z) else y if (y<z and y<x) else z)

In [178]:
min(19,18,17)

17

In [182]:
min(-10, -20, -30)

-30

In [8]:
import seaborn as sns

In [9]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic',
 'anagrams',
 'anagrams',
 'anscombe',
 'anscombe',
 'attention',
 'attention',
 'brain_networks',
 'brain_networks',
 'car_crashes',
 'car_crashes',
 'diamonds',
 'diamonds',
 'dots',
 'dots',
 'dowjones',
 'dowjones',
 'exercise',
 'exercise',
 'flights',
 'flights',
 'fmri',
 'fmri',
 'geyser',
 'geyser',
 'glue',
 'glue',
 'healthexp',
 'healthexp',
 'iris',
 'iris',
 'mpg',
 'mpg',
 'penguins',
 'penguins',
 'planets',
 'planets',
 'seaice',
 'seaice',
 'taxis',
 'taxis',
 'tips',
 'tips',
 'titanic',
 'titanic',
 'anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [10]:
data = sns.load_dataset('titanic')
data.head() # data.head give you the first five rows of the dataset

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [11]:
data.shape # This tells that our dataset has how many rows and columns

(891, 15)

In [ ]:
# I want to convert the sex column in the dataset in such a way that male -1 and female - 0

In [14]:
a = (lambda x: 1 if x == 'male' else 0)
a('female')

0

In [15]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [16]:
data['Gender'] = data['sex'].apply(lambda x: 1 if x == 'male' else 0)

In [17]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Gender
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,1
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,1

In [18]:
data['class'].value_counts()

class
Third     491
First     216
Second    184
Name: count, dtype: int64

In [20]:
data['class']=data['class'].apply(lambda x: 1 if x=='First' else 2 if x=='Second' else 3)

In [21]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Gender
0,0,3,male,22.0,1,0,7.2500,S,3,man,True,NaN,Southampton,no,False,1
1,1,1,female,38.0,1,0,71.2833,C,1,woman,False,C,Cherbourg,yes,False,0
2,1,3,female,26.0,0,0,7.9250,S,3,woman,False,NaN,Southampton,yes,True,0
3,1,1,female,35.0,1,0,53.1000,S,1,woman,False,C,Southampton,yes,False,0
4,0,3,male,35.0,0,0,8.0500,S,3,man,True,NaN,Southampton,no,True,1

### filter(), map() and Reduce()

#### filter()

- It takes two arguments, the first argument is a function (named function or lambda function) and the second argument is going to be an iterable object
- It filters the values from the iterable
- It will return a filter object
- To fetch out the value from this object, we have to typecast it to either a list or a tuple

In [185]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [193]:
f = filter((lambda x: x%2 == 0), lst)
f

In [195]:
f = list(filter((lambda x: x%2 == 0), lst))
f

[2, 4, 6, 8, 10]

In [197]:
def even(n):
    if n%2 == 0:
        return n

In [199]:
f1 = list(filter(even,lst))
f1

[2, 4, 6, 8, 10]

#### map()

- It also takes two argument, where the first argument is a function (named function or anonymous function) and the second element will be an iterable
- The function that we pass in map() that should take 1 argument only]
- It performs specified operation on each element of an iterable and return us a map object
- to fetch the values from the map object, we have to typecast them to a list or a tuple

__Syntax:__
    
        map(function, iterable)
        map(lambda argument: operation, iterable)

In [201]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [203]:
lst1 = []

for i in lst:
    lst1.append(i*0.5)

print(lst1)

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [205]:
m = map(lambda x: x*0.5, lst)
m

In [207]:
m = list(map(lambda x: x*0.5, lst))
m

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [209]:
m = list(map(lambda x: x*0.5, []))
m

[]

### Reduce() function

- It is available in the functools module in Python
- It is used to perform aggregation operation on the values of an iterabe
- __Aggregation Operation:__ sum, multiplication, divsion, max, min, average etc
- It also takes two arguments, where the first argument is a function and the second argument is an iterable object
- The function that we pass in the reduce function should have two arguments in it
- It is going to return 1 value at the end
- To use reduce() we first have to import functool module to our jupyter notebook first

In [211]:
from functools import reduce

In [213]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [215]:
r = reduce((lambda x,y: x+y), lst)
r

55

In [ ]:
x = 1, y = 2, x+y = 3
x = 3, y = 3, x+y = 6
x = 6, y = 4, x+y = 10
x = 10, y = 5, x+y = 15
x = 15, y = 6, x+y = 21
x = 21, y = 7, x+y = 28
x = 28, y = 8, x+y = 36
x = 36, y = 9, x+y = 45
x = 45, y = 10, x+y = 55

In [217]:
r = reduce((lambda x,y: (x+y)/2), lst)
r

9.001953125

In [ ]:
x = 1, y = 2, x+y = 3, x+y/2 = 1.5
x = 1.5, y = 3, x+y = 4.5/2 = 2.25
x = 2.25, y = 4, x+y = 6.25/2 = 3.125
x = 3.125, y = 5, x+y = 8.125/2 = 4.062
x = 15, y = 6, x+y = 21
x = 21, y = 7, x+y = 28
x = 28, y = 8, x+y = 36
x = 36, y = 9, x+y = 45
x = 45, y = 10, x+y = 55

In [223]:
r = reduce((lambda x,y: x if x>y else y), lst)
r

10

In [ ]:
x = 1, y = 2, x+y = 3
x = 3, y = 3, x+y = 6
x = 6, y = 4, x+y = 10
x = 10, y = 5, x+y = 15
x = 15, y = 6, x+y = 21
x = 21, y = 7, x+y = 28
x = 28, y = 8, x+y = 36
x = 36, y = 9, x+y = 45
x = 45, y = 10, x+y = 55

### map vs reduce-

- __map()__ will operate on each element of the iterable separately.
- __reduce()__ performs the aggregation on all elements. (Not one by one separately)

### Recursive function

- When the function calls itself then they are called a recursive function
- Once the process is initiated, it will execute the code an infinite number of times, if we don't terminate the code

__Syntax:__
    
        def recursive_func():
            code
            code
            recursive func()

#### Factorial 

n! = n*n-1*n-2*n-1......3,2,1
0! = 1

### Function Properties

- Function aliasing
- A function can be passed as an argument to another function
- A fuction can be defined or declared (Can be rewritten) in another function (nested function)
- A function can be called inside another function
- A function may return another function

### Function aliasing

- Assigning a function to a variable is known as function aliasing
- Giving some other name to an existing function is also known as function aliasing

### A function can be passed as an argument to another function


#### Create a function that takes two arguments and returns the sum of those two numbers, Create another function that is going to take 3 arguments, the first argument is a function and the other arguments are the numbers that you want to pass in the first function that we have created, this function will return the squared of the result from the first function. This function should return the squared value of the result from the first function

#### A function can be written inside a function (nested function) and it can also return an another function

### Decorator

- A decorator is a design pattern that allows modify or extend the behaviour of a function or a method without modifying their underlying code.

### Modules

- A module is a collection of functions
- Once we put the functions in a module, we can use them in any program
- Since modules are not the part of core python we cannot use them direct. We have to import the module, in order to use a particular function from that module
- .(dot) operator will be used to access any function available in a module

### Types of Modules

1. In-built modules
2. User-defined modules

### In-built Modules

- These modules that are pre-defined in python are known as your in-built modules
- __Example:__ math, sys, functools, os, builtin etc

### How to access a function from a modules?

### Different ways of importing a module

#### Case-1 Importing the whole module

#### Case-2 Importing a particular function from a module

__Note:__ Restart you kernel for this

#### Case-3 Importing all the functions from a module

### Renaming a module (aliasing)

### Library

- A collectiom of modules

In [ ]:
### User-defined modules

- A user-defined module is going to be saved with an extension of .py
- The files in the module contains function declaration

#### Assignmnet

Create a module .py extension

math_operation.py

 - add
 - sub
 - factorial
 - mul
 - div
 - power
 - floor_div
 - sqrt
 - average
 - max
 - min
 - cumulative sum

### Namespace

- A namespace is a mapping from names (identifiers) to object, variable, functions

#### Types of Namespaces
    - Built-in Namespace
    - Global namespace
    - Local Namespace

### Built-in Namespace  

- It refers to the namespace that contains the name of all the built-in functions, exception that are available to us without the need of explicit import statement

### Global Namespace

- This namespace is going to contain the names defined at the top level script or module
- This namespace included variable, function, class, and other object

### Local namespace

- This namespace is going to contain names defined within a particular function or code
- Everytime a function is being called, a new local namespace is created for the future scope

if __name__ == "__main__"

- This is also called a construct in Python and is used to determine whether the Python script are being run as a main file or if it is being imported as a module into another script
- When a Python script is executed, Python sets the special variable __name__ to "__main__" if the script is the main program being run. If the script is imported as a module into another script, then __name__ is set to the name of the module (i.e., the filename without the .py extension).