### Strings 

- Anything written inside the single quotes ('....'), double quotes ("....."), single- triple quotes('''....''') or double triple quotes ("""....""")
- Single quotes and Doubles quotes are used to write a single line statement whereas if we want to write a multi-line statement, then we will use single triple quotes or Double triple quotes
- Thouh the single triple quotes or Double triples quotes are generally used to either write a docstring (documentational string) or to write multi-line comments

In [3]:
my_str = 'Hi, My name is Mayank Ghai'
print(my_str, type(my_str))

Hi, My name is Mayank Ghai <class 'str'>

In [4]:
a = 'Hi, I am a python trainer here at learnbay 
and right now I am taking a class for Cloud and Devops batch'

SyntaxError: unterminated string literal (detected at line 1) (3854327467.py, line 1)

In [6]:
a = '''Hi, I am a python trainer here at learnbay 
and right now I am taking a class for Cloud and Devops batch'''
print(a)

Hi, I am a python trainer here at learnbay
and right now I am taking a class for Cloud and Devops batch

### Operations that we can perform over the string Datatype 

- Length
- Concatenate
- Repetitions
- Indexing and Slicing (important)

In [ ]:
a = 'python' # 'p'+'y'+'t'+'h'+'o'+'n'

### Length 

- It helps us to get the number of elements (characters)  that are inside a string statement
- __len()__ function will be used to find the length of the string
- Length function will even count the spaces along with the character

Syntax:

        a = '.......'
        len(a)

        len(a) ---> checks the values stored in a ---> count the character or elements ---> return the length of the string

In [7]:
my_str = 'Hi, My name is Mayank Ghai'
print(len(my_str))

26

### Concatenations 

- Joining two or more strings together, then this concept is used
- we have to use + operator (here in string + operator will not work as arithmetic opeation)

In [8]:
'10'+'50'

'1050'

In [10]:
print('10'+'+'+'50')

10+50

### Repetition 

- (*) operator is used in strings it will not act as an arithmetic operator, instead it will repeat a string over and over again till the specified number of times

  Syntax:

      my_str*(number of times)

In [18]:
a = 'python\n'

In [19]:
print(a*10)

python
python
python
python
python
python
python
python
python
python

### Indexing and Slicing 

#### Indexing 

- A string is an ordered collection of data because it follows the indexing method
- It is also called sequential data type because it follows indexing method
- Each element or character of the string is stored at a particular index
- A string will support both Positive indexing and Negative index

#### Positive Indexing 

- It will start from left to right
- The indexing will start from 0 (by default)
- The index of the last element is going to be len(string)-1

                                               M A Y A N K
                                               0 1 2 3 4 5 ---Positive Indexing

### Negative Indexing 

- It will start from right to left
- It index of the negative indexing will start from -1
- The index of the last element will going to be -len(string)

                                                   M  A  Y  A  N  K
                                                  -6 -5 -4 -3 -2 -1 ----> Negative indexing

                                               0  1  2  3  4  5 ----> Positive Indexing 
                                               M  A  Y  A  N  K
                                              -6 -5 -4 -3 -2 -1 ----> Negative indexing

y
y

                                       0  1  2  3  4  5  6  7  8  9  10----> Positive Indexing 
                                       M  A  Y  A  N  K     G  H  A  I 
                                     -11-10-9 -8 -7 -6 -5 -4 -3 -2 -1----> Negative indexing

__Syntax:__


            variable_name[index_of_the_character_We_want_to_fetch]

In [21]:
a = 'Mayank'
print(a[2]) # positive indexing
print(a[-4]) # Negative indexing

y
y

In [23]:
a = 'Mayank Atul Ghai'
print(a[9]) # positive indexing
print(a[-7]) # Negative indexing

u
u

### Slicing 

- Fetching out a sub-string from the main string
- Slicing supports both Positive Slicing and Negative Slicing

In [24]:
a = 'Mayank Atul Ghai'

### Positive Slicing 

- It uses Positive indexing to fetch out the sub-string from the main string

__Syntax:__

            variable_name[starting_index : ending_index : step-size]

    where            
    starting index: Index from where we want to start the slicing (by default, it will take the starting index as 0)
    ending index (excluded): index till which we want the slicing to be executed (n+1) (by default, the ending index will go to the end of the string)
    step-size or jump: how many jumps you want to make while slicing a sub-string (for positive indexing, by  default the step-size is 1]

                                0   1   2  3   4   5  6  7  8  9  10 ----> Positive Indexing
                                M   A   Y  A   N   K     G  H  A   I  
                    `         -11 -10  -9 -8  -7  -6 -5 -4 -3 -2  -1 ----> Negative indexing

In [25]:
a

'Mayank Atul Ghai'

In [26]:
a[7:11]

'Atul'

In [30]:
a[7]+a[8]+a[9]+a[10]

'Atul'

In [27]:
a[::] # a[0:16:1]
# starting index = 0, ending index = len(a), step-size = 1

'Mayank Atul Ghai'

In [29]:
a[12:]

'Ghai'

In [33]:
a[::2]

'Myn tlGa'

In [32]:
a[0]+a[2]+a[4]+a[6]+a[8]+a[10]+a[12]+a[14]

'Myn tlGa'

### Negative Slicing 

- It uses negative indexing to fetch out the sub-string from the main string

__Syntax:__

            variable_name[starting_index : ending_index : step-size]

    where 

    step-size, we always have to -1
    starting index --> -1
    ending indexing ---> end of the string

In [34]:
a

'Mayank Atul Ghai'

                                0   1   2  3   4   5  6  7  8  9  10 ----> Positive Indexing
                                M   A   Y  A   N   K     G  H  A   I  
                    `         -11 -10  -9 -8  -7  -6 -5 -4 -3 -2  -1 ----> Negative indexing

In [35]:
a[::-1]

'iahG lutA knayaM'

In [36]:
a[-1:-17:-1]

'iahG lutA knayaM'

In [37]:
a[-1]+a[-2]+a[-3]+a[-4]

'iahG'

In [39]:
a[-4::1]

'Ghai'

In [41]:
a[-16:-10:1]
#a[-16]+a[-15]+a[-14]+a[-13]+a[-12]+a[-11]

'Mayank'

In [42]:
a

'Mayank Atul Ghai'

In [44]:
for i in range(len(a)):
    print(i, a[i])

0 M
1 a
2 y
3 a
4 n
5 k
6
7 A
8 t
9 u
10 l
11
12 G
13 h
14 a
15 i

In [45]:
str1 = 'she sells sea shells on the sea shore'

In [48]:
# positive indexing
for i in range(len(str1)):
    print(i, str1[i])

0 s
1 h
2 e
3
4 s
5 e
6 l
7 l
8 s
9
10 s
11 e
12 a
13
14 s
15 h
16 e
17 l
18 l
19 s
20
21 o
22 n
23
24 t
25 h
26 e
27
28 s
29 e
30 a
31
32 s
33 h
34 o
35 r
36 e

In [51]:
for i in range(1, len(str1)+1):
    print(-i, str1[-i])

-1 e
-2 r
-3 o
-4 h
-5 s
-6
-7 a
-8 e
-9 s
-10
-11 e
-12 h
-13 t
-14
-15 n
-16 o
-17
-18 s
-19 l
-20 l
-21 e
-22 h
-23 s
-24
-25 a
-26 e
-27 s
-28
-29 s
-30 l
-31 l
-32 e
-33 s
-34
-35 e
-36 h
-37 s

### String Methods

- Methods are functions only but they are defined for a particular class (string, list, tuple, dictionary, sets or frozensets)
- Functions are a block of code written to a task repeatedly when and if called

  To get the methods associated with the string class :

                    varibale_name+press dot(.)+press tab key

In [52]:
a

'Mayank Atul Ghai'

In [ ]:
a.capitalize()

### capitalize()

- It converts the first letter in any sentence into uppercase
- It will return a new object, it will not going to make changes in the existing object (because strings are immutable)

In [53]:
a = 'python class'
print(a, id(a))

python class 1737877996208

In [54]:
b = a.capitalize()
print(b, id(b))

Python class 1737875181488

### title()

- It converts the first letter of each word in any sentence to uppercase
- It will return a new object, because the string are immutable

In [55]:
a

'python class'

In [56]:
b = a.title()
print(b, id(b))

Python Class 1737878063728

### upper()

- It will convert all the characters in the string to uppercase
- It will return a new object

In [57]:
a

'python class'

In [58]:
b = a.upper()
print(b)

PYTHON CLASS

### lower()

- It will convert all the character in the string to lowercase
- It will return a new object

In [59]:
c = b.lower()
print(c)

python class

### swapcase()

- It converts the uppercase letters to lowercase letters and vice-versa in a string
- It will return a new object

In [60]:
a = 'PyThOn ClAsS'
print(a.swapcase())

pYtHoN cLaSs

### Count
- It counts the occurrence of a particular character or a sub-string in a string

__Syntax:__

        my_str.count('character or 'sub_string')
        my_str.count('character', starting index)
        my_str.cout('character', starting index, ending index)

In [62]:
a = 'Mayank atul ghai'
print(a.count('a'))

4

In [63]:
b = 'she sells sea shells on the sea shore'
print(b.count('sea'))

2

In [64]:
a

'Mayank atul ghai'

In [65]:
print(a.count('a', 2))

3

In [67]:
print(a.count('a', 2, 7))

1

#### Index

- It returns the index of the first occurrence of a character or a sub-string in a string
- If the character is not found, then it will throw a value error

__Syntax:__

                my_str.index('character' or 'sub-string')
                my_str.index('character', starting index)
                my_str.index('character', starting index, ending index)

In [68]:
a

'Mayank atul ghai'

In [69]:
print(a.index('a'))

1

In [71]:
print(a.index('a', 2))

3

In [72]:
print(a.index('atul'))

7

In [75]:
print(a.index('atul',9))

ValueError: substring not found

### find

- It returns the index of the first occurrence of a character or a sub-string in a string
- If the character is not found, then it will give -1

__Syntax:__

                my_str.find('character' or 'sub-string')
                my_str.find('character', starting index)
                my_str.find('character', starting index, ending index)

In [76]:
print(a.find('atul',9))

-1

### rfind()

- It reads the string from right to left
- It returns the index of the first occurrence from right to left of the specified character
- If the character or sub-string is not found, then it will return - 1

___Note:__ It only reads from right to left, but the index that it will return will follow the positive index

__Syntax:__

                my_str.rfind('character' or 'sub-string')
                my_str.rfind('character', starting index)
                my_str.rfind('character', starting index, ending index)

In [77]:
a

'Mayank atul ghai'

In [80]:
print(a.rfind('atulg'))

-1

### split()

- It spilts the string from the specified character and returns a list
- By default, space will be taken as the specified character and the spliting of the string will happen on the spaces

In [81]:
b

'she sells sea shells on the sea shore'

In [83]:
print(b.split())

['she', 'sells', 'sea', 'shells', 'on', 'the', 'sea', 'shore']

In [89]:
a = ['+91-8360984479', '+91-9050658383', '+91-9888403901']

In [92]:
for i in a:
    print(i.split('-')[1])

8360984479
9050658383
9888403901

### join()

- It combines the element of the list seperated by a specified character and will return a string back to us

__Syntax:__

        'specified_Character'.join(list)

In [93]:
a = ['she', 'sells', 'sea', 'shells', 'on', 'the', 'sea', 'shore']
print(''.join(a))

shesellsseashellsontheseashore

In [94]:
print(' '.join(a))

she sells sea shells on the sea shore

In [95]:
print('-'.join(a))

she-sells-sea-shells-on-the-sea-shore

In [96]:
print('@'.join(a))

she@sells@sea@shells@on@the@sea@shore

### strip()

- It removes the specified character from the left and the right side of the string
- By default, it removes space character from the left and the right side of the string

__Note:__
- It removes the boundary character and not the character inside the string

__Syntax:__`

            my_str.strip('character')

In [98]:
a = '$150$'
print(a.strip('$'))

150

In [100]:
a = '$1$5$0$'
print(a.strip('$'))

1$5$0

In [101]:
a = '                 python                         '
print(a.strip())

python

### lstrip()

- It removes the specified character from only the left side of the string
- By default, it will remove space character

In [103]:
a = '                 python*********'
print(a.lstrip())

python*********

### rstrip()

- It removes the specified character from only the right side of the string
- By default, it will remove space character

In [104]:
a = '******python*******'
print(a.rstrip('*'))

******python

### ljust, rjust and Center

- These are the justification methods
- These methods are used to add a specific character either on the left side or on the right side or on both side of the string
- By default, space if considered as the specified character

#### ljust

- This method are used to add a specific character

__Syntax:__

                my_str.ljust(len of the resultant string, 'character')
                                    or
                my_str.ljust(len(my_str)+number of the character, 'character')

my_str = 'Python'

Output = Python__


                               P y t h o n _ _
                               _ _ _ _ _ _ _ _

In [106]:
my_str = 'python'
print(my_str.ljust(8, '_'))

python__

In [107]:
my_str = 'python'
print(my_str.ljust(6, '_'))

python

### rjust
my_str = 'Python'

Output = +_Python


                               _ _ P y t h o n
                               _ _ _ _ _ _ _ _

In [108]:
my_str

'python'

In [111]:
print(my_str.rjust(10, '*'))

****python

### center

- It adds a specified character on both the side of the strings

__Syntax:__

            my_str.center(len of the resultant string, 'character')
                             or
            my_str.center(len(my_str)+number of character, 'character')

In [112]:
my_str

'python'

In [113]:
print(my_str.center(10, '*'))

**python**

__Note:__

- If the length of the string is odd, preference will be given to the right
- If the length of the string is even, preference will be given to the left

In [119]:
print(my_str.center(9, '*'))

**python*

In [120]:
a = 'may'
print(a.center(4, '*'))

may*

#### To add a specfied character in the left hand side and another character on the right hand side

In [ ]:
a = data 
    output = ++data--

In [122]:
a = 'data'
b = a.rjust(6 , "+")
print(b.ljust(8 , "-"))

++data--

In [123]:
a = 'data'
print(a.rjust(len(a)+2, '+').ljust(len(a)+4, '-'))

++data--

#### isalnum()

- It will return a True if all the characters of the string are alphanumeric else it will return a False
- Alpha-numeric means it should have 'A-Z', 'a-z' or '0-9'
- It can be any combination of the above-specified things
- Special characters ,underscore and space are not allowed

In [124]:
a = 'mayank'
print(a.isalnum())

True

In [125]:
b = 'Mayankatulghai1095'
print(b.isalnum())

True

In [126]:
b = 'mayankATulghai1095@'
print(b.isalnum())

False

### isalpha()

- It will return a True, if all the characters of the string are alphabets else it will return a False
- Here, the string should be a combination of 'A-Z' or 'a-z'
- No digits, no special character, no underscore and no spaces are allowed

In [128]:
a = 'mayank1'
print(a.isalpha())

False

### isupper()

- It will return a True, if all the character of the string are in uppercase else it will return a False
- It will not throw any error, if we include a special character, space, digit and even an underscore

In [129]:
a = 'mayank'
print(a.isupper())

False

In [136]:
a = 'MAYANK_'
print(a.isupper())

True

### islower()

- It will return a True, if all the character of the string are in lowercase else it will return a False
- It will not throw any error, if we include a special character, space, digit and even an underscore

In [138]:
a = 'mayank1'
print(a.islower())

True

### istitle()

- It returns a True if the string is in Title case means every first letter of a word in a sentence should be uppercase else it will return a False

In [140]:
a = 'This Is a Python Class'
print(a.istitle())

False

### isspace()

- It will return a True if all the characters in the string are space characters
- Space characters - \n, \t, \v, \r and space

In [145]:
a = '\v32'
print(a.isspace())

False

### startswith()

- It will return a True if the string starts with a specified character or a specified sub-string else it will return a False

In [149]:
a = 'cloud and devops'
print(a.startswith('cloud'))

False

### endswith()

- It will return a True if the string ends with a specified character or a specified sub-string else it will return a False

In [151]:
a = 'cloud and devops'
print(a.endswith('ops'))

True

### Identifiers

- An identifier is a name in Python
- Variable name, function name, object name, class name

#### Properties of Identifiers

- An identifier may have alphanumeric characters (A-Z, a-z or 0-9) and underscore (_)
- An identifier may begin with an alphabet or an underscore, but it should never begin with a number
- An identifier may have a number but after an alphabet or an underscore
- No special characters are allowed
- It is case sensitive i.e. Python and python are treated differently

In [159]:
a = 'name1_@'

#### isidentifier()

- It will return a True if the string is a valid identifier else it will return a False

In [160]:
print(a.isidentifier())

False

### replace

- It replaces an existing character or an existing sub-string with a new character or a new sub-string
- It does not make any changes in the existing string
- It will create a new object

__Syntax:__

        my_str.replace('character', 'new-character')
                    or
        my_str.replace('sub-string', 'new-sub-string')

In [161]:
a = 'Sohan'
print(a, id(a))

Sohan 1737891156768

In [162]:
b = a.replace('S', 'R')
print(b, id(b))

Rohan 1737863355184

In [163]:
a = 'Hello Sunday'
print(a, id(a))
b = a.replace('Sunday', 'Monday')
print(b, id(b))

Hello Sunday 1737884444656
Hello Monday 1737884435120

### isnumeric(), isdigit() and isdecimal()

#### isnumeric()

- It will return a True if all the elements in the string are either digits, superscript, subscript, vulgar fractions, or Roman numbers else it will return a False

#### isdigit()

- It will return a True if all the elements are digits, superscript and sub-script else it will return a False

#### isdecimal()

- It will return a True if all the elements of the string are only digits else it will return a False

In [164]:
a = '10'
print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

True
True
True

In [165]:
a = '2\u2082'
a

'2'

In [166]:
print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

True
True
False

In [169]:
a = '2\u00B2'

In [170]:
a

'2'

In [171]:
print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

True
True
False

In [172]:
a = '5'+chr(189)
a

'5'

In [173]:
print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

True
False
False

In [174]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']