In [41]:
## Derived data types
# List, tuple, dictionary, set and frozenset

#Lists .. []
a = [1]
print(a, type(a))
a=[1,2,3,4,10]
print(a, type(a))
a=[1,2.0,3/4,range(5),None,'Hello',4+5j]
print(a,type(a))
a=[1,1,1,0,True,range(1,10),'Python',[2,3,4,0],5.5]
print(a,type(a),id(a))
a='Python'
b=list(a)
print(b,type(b))

[1] <class 'list'>
[1, 2, 3, 4, 10] <class 'list'>
[1, 2.0, 0.75, range(0, 5), None, 'Hello', (4+5j)] <class 'list'>
[1, 1, 1, 0, True, range(1, 10), 'Python', [2, 3, 4, 0], 5.5] <class 'list'> 2058672219328
['P', 'y', 't', 'h', 'o', 'n'] <class 'list'>

In [20]:
a=[1,1,2,3,4]
print(a,id(a))
for i in a:
    print(i, id(i))
a = a.append(10)
print(a, type(a), id(a))
a=[1,1,2,3,4]
b = a.append(10)
print(b, id(b))

a=[1,1,2,3,4]
print(a,id(a))
a.append(100)
print(a,id(a))
for i in range(5):
    a.append(i)
print(a,id(a))

[1, 1, 2, 3, 4] 2058671800960
1 140707688727336
1 140707688727336
2 140707688727368
3 140707688727400
4 140707688727432
None <class 'NoneType'> 140707687336720
None 140707687336720
[1, 1, 2, 3, 4] 2058657991872
[1, 1, 2, 3, 4, 100] 2058657991872
[1, 1, 2, 3, 4, 100, 0, 1, 2, 3, 4] 2058657991872

In [42]:
#Tuples ... ()
a=(1)
print(a,type(a),id(a))
a=(1,)
print(a,type(a),id(a))
b=(1,2.3,4+0j,'Hello',range(5),None,True,(2,3,4))
print(b,type(b),id(b))
b.append(5)
print(b)
a='Python'
b=tuple(a)
print(b,type(b))

1 <class 'int'> 140707688727336
(1,) <class 'tuple'> 2058659304480
(1, 2.3, (4+0j), 'Hello', range(0, 5), None, True, (2, 3, 4)) <class 'tuple'> 2058672270144

AttributeError: 'tuple' object has no attribute 'append'

In [43]:
t=(1,2,3)
print(t,id(t))
t=t+(5,)
print(t,id(t))

a= [1,2,3]
print(a,id(a))
a.append(5)
print(a,id(a))
a.remove(2)
print(a,id(a))
a='Python'
b=tuple(a)
print(b,type(b))

(1, 2, 3) 2058671763776
(1, 2, 3, 5) 2058672029296
[1, 2, 3] 2058672120576
[1, 2, 3, 5] 2058672120576
[1, 3, 5] 2058672120576
('P', 'y', 't', 'h', 'o', 'n') <class 'tuple'>

In [34]:
# Dictionary {keys:values}
d={1:100,2:200,3:300}
print(d,type(d),id(d))

{1: 100, 2: 200, 3: 300} <class 'dict'> 2058671507008

In [72]:
data={'Name':'Adam','City':'Jaipur','Age':30,'DOB':'27.10.1993'}
print(data)
data.pop('City')
print(data)
data['City']='Pune'
print(data)

{'Name': 'Adam', 'City': 'Jaipur', 'Age': 30, 'DOB': '27.10.1993'}
{'Name': 'Adam', 'Age': 30, 'DOB': '27.10.1993'}
{'Name': 'Adam', 'Age': 30, 'DOB': '27.10.1993', 'City': 'Pune'}

In [36]:
a={[1,2,3]:44,1:100}
print(a)

TypeError: unhashable type: 'list'

In [53]:
a={1:[1,2,3],5:100}
print(a)
a='Python'
b=dict(a)
print(b,type(b))

{1: [1, 2, 3], 5: 100}

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [88]:
#Sets {} #mutable datatypes

a={1,2,3,4}
print(a,type(a))
a={1,2,3,4,5,2,1,3,2,1,5}
print(a,type(a))
a=set('Python')
print(a,type(a))

a = {1,2,3,4,2,3}
b = {2,4,5,7,8}
print(len(a))

ab = set((1,2,3,4,2,1,5,6))
print(ab)
ab = set([1,2,3,3,4,2,5])
print(ab)
fruits = {'apple','banana','papaya'}
seasoned = ['mango', 'guava']
fruits.update(seasoned)
print(fruits)
fruits.add('grapes')
print(fruits)
fruits.pop()
print(fruits)
fruits.clear()
print(fruits)
fruits = {'apple','banana','papaya'}
del fruits
#print(fruits)
set1 = {1,2,3,4,1,2,3}
set2 = {2,5,3,4,7}
print(set2.union(set1))
print(set2.intersection(set1))
print(set2 - set1)
print(set1 - set2)
print(set1.difference(set2))
print(set2.difference(set1))
print(set2.symmetric_difference(set1))

{1, 2, 3, 4} <class 'set'>
{1, 2, 3, 4, 5} <class 'set'>
{'P', 'o', 'y', 'n', 't', 'h'} <class 'set'>
4
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{'apple', 'mango', 'papaya', 'guava', 'banana'}
{'apple', 'mango', 'papaya', 'grapes', 'guava', 'banana'}
{'mango', 'papaya', 'grapes', 'guava', 'banana'}
set()
{1, 2, 3, 4, 5, 7}
{2, 3, 4}
{5, 7}
{1}
{1}
{5, 7}
{1, 5, 7}

In [55]:
a=frozenset('Python') #immutable datatypes
print(a,type(a))

frozenset({'P', 'o', 'y', 'n', 't', 'h'}) <class 'frozenset'>

In [57]:
a = [1,2,3,4]
b = [10,20,30,40]
c = zip(a,b)
d = dict(c)
print(d)

{1: 10, 2: 20, 3: 30, 4: 40}