In [9]:
a="Hello Python"
print(a)
print('Hello'+' Python')
print('10'+'+'+'20')
print(len(a))

Hello Python
Hello Python
10+20
12

In [29]:
a='Py'
print(a*4)
#Slicing
a='Python'
print(a[2])
print(a[-1])
print(a[0])
b='HelloPython'
print(b[0:5])
print(b[0::2])
print(b[-1::-1])
print(b)
print(b[::])
print(b[::-1])
print(b[4:10])

PyPyPyPy
t
n
P
Hello
Hloyhn
nohtyPolleH
HelloPython
HelloPython
nohtyPolleH
oPytho

In [50]:
#Methods
a='hello python'
print(a,id(a))
b = a.capitalize()
print(b,id(b))
c = a.title()
print(c,id(c))
u = a.upper()
print(u,id(u))
l = u.lower()
print(l,id(l))
sw = c.swapcase()
print(sw,id(sw))
print(sw.count('O'))
print(sw.count('L'))
print(sw.index('L',3))
print(sw.index('L',4))

hello python 1921723182512
Hello python 1921736616624
Hello Python 1921736617904
HELLO PYTHON 1921736671728
hello python 1921736834928
hELLO pYTHON 1921723132848
2
2
3

ValueError: substring not found

In [66]:
print(a.find('h',1))
print(a.find('h',1,5))
print(a.rfind('h'))
print(a.rfind('o'))
print(a.find('o'))

9
-1
9
10
4

In [72]:
s = 'she sells sea shells on the sea shore'
print(s.split(' '))
print(s.split('s'))
a = ['+91-8048344739', '+91-9823496743', '+91-7823465442']
for i in a:
    b = i.split('-')
    print(b[1])

for i in a:
    print(i.split('-')[1])

['she', 'sells', 'sea', 'shells', 'on', 'the', 'sea', 'shore']
['', 'he ', 'ell', ' ', 'ea ', 'hell', ' on the ', 'ea ', 'hore']
8048344739
9823496743
7823465442
8048344739
9823496743
7823465442

In [84]:
a = s.split(' ')
print(a)
print(''.join(a))
print(' '.join(a))
print('-'.join(a))
a = '$150$'
print(a.strip('$'))
print(a.lstrip('$'))
print(a.rstrip('$'))
print(a.ljust(7,'$'))
print(a.rjust(7,'$'))
print(a.center(9,'$'))

['she', 'sells', 'sea', 'shells', 'on', 'the', 'sea', 'shore']
shesellsseashellsontheseashore
she sells sea shells on the sea shore
she-sells-sea-shells-on-the-sea-shore
150
150$
$150
$150$$$
$$$150$
$$$150$$$

In [90]:
print(a.isalnum())
b = '10'
print(b.isalnum())
b='fejodjo'
print(b.isalnum())
b='43rfv'
print(b.isalnum())
b='fdcd_234'
print(b.isalnum())
b='Hello Python'
print(b.isalnum())

False
True
True
True
False
False

In [117]:
a = 'manmohan'
print(a.isalpha())
b = 'manmohan10'
print(b.isalpha())
print('manmohan_'.isalpha())
print('manmohan'.isupper())
print('MANMOHAN'.isupper())
print(a.islower())
print('Hello Python'.istitle())
print('a'.istitle())
print('Hello Python'.isspace())
print('Hello\nPython'.isspace())
print('\r'.isspace())
print('Hello Python'.startswith('He'))
print('Hello Python'.endswith('He'))
print('Hello Python'.endswith('on'))
a = 'lime'
b = '75fvdg'
c = 'd3d_43cd'
d = 'cdfc@df_'
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
False
False
False
True
True
True
False
False
False
True
True
False
True
True
False
True
False

In [120]:
a = 'Nice'
print(a.replace('N','r'))
print('Hello Sunday'.replace('Sunday','Monday'))

rice
Hello Monday

In [133]:
print('IV'.isnumeric())
print('432'.isnumeric())
print('432'.isdigit())
print('432'.isdecimal())
print('2\u00B2'.isdigit())
print('2\u00B2'.isdecimal())
print("'5'+chr(189)".isdigit())
print('chr(189)'.isnumeric())
print(chr(189))
print(dir(str))

False
True
True
True
True
False
False
False
Â½
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [141]:
# Operations with data types
a=10
b=5
print(a/b)
print(b/a)
print(a*b)
print(a**2)
print(a%3)
print(b//3)
print((9+3)**3//2%5)

2.0
0.5
50
100
1
1
4

In [147]:
lst = [1,2,3,4]
lst.append(100)
print(lst)

[1, 2, 3, 4, 100]

In [157]:
print(lst[3])
print(lst[::-1])
print(lst[2:5])
print(lst[5:1:-1])
print(lst[-2:-4:-1])

4
[100, 4, 3, 2, 1]
[3, 4, 100]
[100, 4, 3]
[4, 3]

In [162]:
lst = list(range(10))
print(lst)
print(list(range(10,2,-2)))
d={'Name':'Mike','City':'New York','Age':33}
lst1 = list(d.items())
print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 8, 6, 4]
[('Name', 'Mike'), ('City', 'New York'), ('Age', 33)]

In [163]:
lst = list(input('Enter values of the list:'))
print(lst,type(lst))

Enter values of the list: 12 34 56 2 3 10

['1', '2', ' ', '3', '4', ' ', '5', '6', ' ', '2', ' ', '3', ' ', '1', '0'] <class 'list'>

In [165]:
lst = []
n = int(input('Enter number of elements of the list: '))
for i in range(n):
    a = int(input('Enter a elementof the list'))
    lst.append(a)
print(lst,type(lst))

Enter number of elements of the list:  4
Enter a elementof the list 12
Enter a elementof the list 2
Enter a elementof the list 34
Enter a elementof the list 435

[12, 2, 34, 435] <class 'list'>

In [167]:
lst = []
n = int(input('Enter number of elements of the list:'))
for i in range(n):
    a = eval(input('Enter the element of the list:'))
    lst.append(a)
print(lst,type(lst))

Enter number of elements of the list: 4
Enter the element of the list: 12324
Enter the element of the list: 'Python'
Enter the element of the list: range(10)
Enter the element of the list: [1,2,3,4]

[12324, 'Python', range(0, 10), [1, 2, 3, 4]] <class 'list'>

In [168]:
a=1,2,3,5,6,7
print(a,type(a))

(1, 2, 3, 5, 6, 7) <class 'tuple'>

In [170]:
lst1 = [2,1,3,5,3,9,5,6]
lst1.sort()
print(lst1)

[1, 2, 3, 3, 5, 5, 6, 9]

In [172]:
lst1.reverse()
print(lst1)
lst1.pop(2)
print(lst1)

[1, 2, 3, 3, 5, 5, 6, 9]
[1, 2, 3, 5, 5, 6, 9]

In [181]:
import numpy as np
np.random.seed(10)
arr = list(np.random.randint(1,11,36))
print(arr)
print(arr.count(10))
arr.remove(10)
print(arr)

[10, 5, 1, 2, 10, 1, 2, 9, 10, 1, 9, 7, 5, 4, 1, 5, 7, 9, 2, 9, 5, 2, 4, 7, 6, 4, 10, 7, 10, 2, 10, 5, 3, 7, 8, 9]
6
[5, 1, 2, 10, 1, 2, 9, 10, 1, 9, 7, 5, 4, 1, 5, 7, 9, 2, 9, 5, 2, 4, 7, 6, 4, 10, 7, 10, 2, 10, 5, 3, 7, 8, 9]